
Wiskunde/.DS_Store
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-311.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
*.pyc
