
Wiskunde/.DS_Store
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-311.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
Wiskunde/__pycache__/FaceRecognition.cpython-310.pyc
*.pyc
.DS_Store
.DS_Store
Wiskunde/.secret_key
Wiskunde/face-store/
Info 2025-2026/
*:Zone.Identifier
