<div class="box-header">Wiskunde: 3D visualisatie van een neuraal netwerk - 9/13</div>
    <div class="columns">
      <div class="column">
        <h2>Visualiseer de data van een neuraal netwerk</h2>
        <a href="https://adamharley.com/nn_vis/mlp/3d.html" target="_blank" >Deze 3D visualisatie</a> toont hoe neuronen in lagen aan elkaar gelinkt zijn. Je kan als input een getal (of net niet) tekenen. Het model toont 
        hoe jouw data wordt omgezet in pixels. Deze pixels ondergaan vervolgens een wiskundige bewerking in een eerste laag van een honderdtal neuronen. Daarna volgt een laag met een kleiner aantal neuronen en de 
        outputlaag toont de match met de tien symbolen waarop het model getraind is.
     
        
        </div>
      <div class="column">
        <div style="display: flex; justify-content: center; align-items: center; ">
          <img src="{{url_for('static', filename='images/3dNN.png')}}" alt="" style="width: 100%; height: auto;" id="picture_resolution_img">
        </div>
      </div>
    </div>

