<div class="box-header">Wiskunde: Pixels en matrices - 1/13</div>
    <div class="columns">
      <div class="column">
        <h2>Pixels en matrices</h2>
          <p>
            Een digitale foto bestaat uit <i>pixels</i>, dit zijn kleine puntjes die één bepaalde kleur hebben. 
            Om het simpel te houden beschouwen we een afbeelding met slechts twee kleuren: zwart en wit. 
            Als we een rooster hebben van 4 bij 4, kan je een poging doen om een cirkel te maken door bepaalde vakjes zwart en wit maken.
            Deze afbeelding wordt dan opgeslagen in een matrix van 4 bij 4. Een zwart vakje krijgt de waarde 0 en een wit vakje krijgt de waarde 1. 
            Om een betere cirkel te maken, kan je de resolutie verhogen. In een rooster van 7 bij 7 pixels kan je al iets maken dat meer op een cirkel lijkt. 
            De cirkel met een resolutie van 7 bij 7 pixels neemt wel meer geheugen in beslag, want in de matrix staan meer getallen.
            Door een rooster van 11 bij 11 te nemen wordt de cirkel weer mooier. 
            Om echt een mooi ronde cirkel te bekomen is er een nog veel hogere resolutie nodig. 
          </p>
        
        </div>
      <div class="column">
        <img src="/static/images/Cirkels.jpg" alt="Cirkel" width="500">
        
      </div>
    </div>  
