<div class="box-header">Inleiding</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Wiskunde</h2>
          Welkom bij het wiskunde luik  van het <b>Smart Coffee/thee maker</b>! Dit project biedt een spannende kans voor zowel beginners als degenen met ervaring om kennis te maken met de wereld van Arduino en elektronica. Als onderdeel van het informatie luik van dit project, gaan jullie twee per twee zich richten op het gebruik van een ardiono om twee fascinerende onderdelen te realiseren met behulp van een kleurensensor en een servo.
          
          
        </div>
      </div>
    </div>
