<div class="box-header">Inleiding</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Wiskunde</h2>
          Welkom bij het wiskunde luik  van het <b>Smart Coffee/tea maker</b>! Om de juiste koffie/thee klaar te maken, moet jouw toestel natuurlijk weten voor wie het drankje is. 
          Daarom implementeren jullie een gezichtsherkenningsalgoritme zodat je Coffee/tea maker de proffen kan herkennen.
          
        </div>
      </div>
    </div>
