<div class="box-header">Inleiding</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Wiskunde</h2>
          Welkom bij het luik Wiskunde van de <b>Smart Coffee Maker</b>! Om de juiste koffie klaar te maken, moet jouw toestel natuurlijk weten voor wie het drankje is. 
          Daarom implementeren jullie een gezichtsherkenningsalgoritme waarmee je Coffee Maker de proffen kan herkennen. Vervolgens moet jullie programma een <i>signaal</i> kunnen doorgeven aan het <i>brein</i> van de Coffee Maker. Dit brein wordt aangestuurd door het subteam Informatie. Jullie signaal bestaat uit het tonen van een specifieke kleur. Deze kleur is gelinkt aan een specifiek drankje horende bij een specifieke prof.

          <h3>Doel</h3>
          Het doel van deze tutorial is om in aanraking te komen met de basis van gevorderde wiskunde, die jullie nog uitgebreid zullen bestuderen in het vak <i>Toegepaste Algebra</i>. 
          Deze gevorderde wiskunde vormt de basis van de verschillende gezichtsherkenningsalgoritmes in de Smart Coffee Maker. Omdat zowel het programmeren als de wiskunde zeer geavanceerd is, programmeren jullie de algoritmes niet zelf, maar leren jullie deze begrijpen en gebruiken via deze interactieve tutorial.
          <br>
          <br>
          
          <h3>Timing</h3>
          Jullie hebben ongeveer anderhalf uur om deze tutorial te voltooien. Dan is het de bedoeling dat jullie met de rest van jullie team gaan samenzitten om al de verschillende onderdelen samen te brengen.

          <h3>Vragen</h3>
          Als je vragen hebt, kan je deze altijd stellen aan de begeleiders. Zij zijn hier om jullie te helpen, dus wees niet bang om vragen te stellen.
          
        </div>
      </div>
    </div>