<div class="box-header">Wiskunde: Gezichtsherkenning testen - 7/10</div>
<div class="columns">
  <div class="column">
    <h2>Opdracht 1</h2>
      <p>
        Test gzichtsherkenningsalgoritme
      </p>
        
      <h2>Opdracht 2</h2>
      <p>
        Het gezichtsherkenningsalgoritme werkt nog niet zo goed. Dit komt omdat de foto's juist uitgeknipt moeten zijn. 
        Opnieuw testen met geknipte foto's
      </p>
    
    </div>
  <div class="column">
    <h2>
    Hier moeten ze foto's kunnen uploaden.
    </h2>
    
  </div>
</div>  