<div class="box-header">Wiskunde: Gezichtsherkenningsalgoritme implementeren - 6/12</div>
<div class="columns">
  <div class="column">
    <h2>Algoritme</h2>
    <p>
      Je computer stockeert de gegevens van een afbeelding in een soort matrix waarvan elke waarde op een specifieke rij of kolom staat voor een bepaalde kleurintensiteit. Als de foto een kleurenfoto (in JPEG formaat) is worden er 3 lagen aan waardes toegekend (3 lagen voor elk van de drie kleuren: rood, groen en blauw).
    </p>
    <br>
    <p>
    Om het gezichtsherkenningsalgoritme te implementeren zal er gestart worden met een database van kleurenfoto's van 18 professoren van het eerste jaar burgerlijk ingenieur. Enkele van deze professoren zullen op het einde van deze workshop ook langskomen om je werk van vandaag te bekijken.
    </p>
    <br>
    <p>
  STAP 1
</p>
<br>
<p>
    Er moet opgemerkt worden dat de foto's meer gegevens bevatten dan enkel het gezicht van een professor. In een eerste stap zullen we daarom een specifiek stukje van de foto’s selecteren waarbij er telkens een rechthoek uitgehaald zal worden met hoogte=115 en breedte=80 waarbij enkel het aangezicht van de persoon zichtbaar is. 
    </p>
    <br>
    <p>
      STAP 2
</p>
<br>
<p>
    Als er nu verder gewerkt zou worden met de drie-lagige matrices van al deze 18 foto's zou dit tot een gigantische hoeveelheid data leiden die niet meer hanteerbaar is door de computer. Daarom wordt deze data gereduceerd tot een 2D-matrix (een matrix zoals voorgesteld op pagina 1/12 van deze tutorial). De foto wordt m.a.w. omgezet in een foto die enkel uit grijswaardes bestaat door een gewogen gemiddelde te maken van de waardes voor rood, groen en blauw.
  In het algoritme zullen stap 1 en stap 2 voor elke foto uit onze database uitgevoerd worden.  
  </p>
    <br>
    <p>

      STAP 3
</p>
<br>
<p>
     In een volgende stap gaan de matrices van de grijswaardes van de foto’s omgevormd worden naar zogenaamde kolommatrices. Momenteel had je via voorgaande bewerking telkens per foto een 80x115 matrix, maar deze moet je omvormen naar een 9200x1 matrix (of kolomvector genaamd). 
      <br>
      Vervolgens heb je dan één vector \( v_{1} \) die één gezicht voorstelt. Deze bewerking moet uitgevoerd worden voor alle andere afbeeldingen uit de database. 
    </p>
    <br>
    <p>

      Zo krijg je een set van M vectoren (waarbij in ons geval M=18):
      $$ {\left\{v_1, v_2, ..., v_M\right\}} $$
      <br>

      
      Van al deze vectoren kun je een gemiddelde vector nemen die er als volgt uit ziet:
      $$ {\psi = \frac{1}{M} \sum_{i=1}^M v_i} $$

      <br>
      STAP 4
    </p>
    <br>
    <p>
      Nu kun je voor elke vector \( v_{i} \) het verschil berekenen met de gemiddelde vector \(\psi\).
      $${ \Phi_i = v_i - \psi }$$
      <br>
      STAP 5
    </p>
    <br>
    <p>

      Deze stap bevat heel wat op het eerste zicht moeilijke wiskundige bewerkingen. Hierover ga je binnenkort alle details van leren in het vak Toegepaste Algebra. Voor nu is het voldoende dat je dit eens doorneemt en simpelweg weet dat we matrixbewerkingen aan het uitvoeren zijn. 
    </p>
    <br>
    <p>

      Maak nu de zogenaamde <i>covariantie matrix</i> \(C\) die als volgt gedefinieerd is:
      $${C = \frac{1}{M} \sum_{i=0}^M \Phi_i \Phi_i^T  }$$
      <br>
      Bereken nu de zogenaamde eigenwaarden \( \Lambda \) en eigenvectoren \(U\) van \(C\). Wat precies eigenwaarden en eigenvectoren zijn ga je binnenkort leren bij Toegepaste Algebra.
      <br>
    </p>
    <br>
    <p>

      Hiermee krijg je nu een collectie van eigenvectoren die we in deze context van gezichtsherkenning de eigenfaces \(U = \left\{u_i \right\}\) zullen noemen. Hiermee kan je aan de slag gaan om andere gezichten te herkennen. 
      <br>
    </p>
    <br>
    <p>

      Voor elke gezicht \( v_{i} \) uit de database kan je een zogenaamde gewichtsvector \( \Omega_{i} \) bepalen als volgt: 
      $${ \Omega_{i} =  U^T (v_{i} - \psi) }$$
    </p>
    <br>
    <p>
Dit levert ons dan voor de 18 personen uit de database 18 verschillende gewichtsvectoren op. Elke foto uit de database heeft zijn eigen unieke gewichtsvector. Met behulp van deze gewichtsvector en de eigenfaces kan je een foto reconstrueren. Eender welke foto van een gezicht kan namelijk opgebouwd worden als een lineaire combinatie van alle eigenfaces. Dus als een som van (scalaire) veelvouden van de eigenvectoren (eigenfaces).
      	<br>
    </p>
    <br>
    <p>
      STAP 6
    </p>
    <br>
    <p>
      Waartoe hebben we nu al het voorgaande nodig? We willen bekijken of een nieuwe foto (of een nieuw gezicht) overeenkomt met iemand uit onze database. Hiervoor zullen de eerste drie stappen op deze nieuwe foto uitgevoerd moeten worden. En bekom je uiteindelijk een kolomvector \( v_{nieuw} \). 
      Daarna voer je ook terug de bewerking uit stap 5 uit, waarbij voor de nieuwe foto een bijhorende gewichtsvector wordt berekend:
      $${ \Omega_{nieuw} =  U^T (v_{nieuw} - \psi) }$$

    </p>
    <br>
    <p>
      
      Om nu het nieuwe gezicht te herkennen kan telkens de norm van de euclidische afstand berekend worden tussen één van de 18 gewichtsvectoren \( \Omega_{i} \) en de gewichtsvector van de nieuwe foto \( \Omega_{nieuw} \).
      $${ \epsilon_{i} =  \|\Omega_{i} - \Omega_{nieuw} \|  }$$
      
      De gewichtsvector \( \Omega_{i} \) horende bij een specifieke persoon uit de database waarvoor deze \( \epsilon_{i} \) het kleinst is, geeft vervolgens aan met welk gezicht uit de database er het meest overeenkomst is. Als die norm klein genoeg is, kan je met voldoende zekerheid stellen dat de nieuwe foto overeenkomt met één van de foto's uit de database en dat de persoon geïdentificeerd is. Over de bepaling van deze grens gaan we nu niet dieper op in.
    </p>
    

    
    </div>
  <div class="column" style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
    <h2 style="text-align: center; margin-bottom: 0;">Leer het algoritme visueel kennen!<button style="margin-left: 10px;" onclick="reset_alg()"><i class="fas fa-undo"></i></button></h2> 
    <!-- <h3>
      Database maken
    </h3>
    <li>Afbeelding omzetten in grijstinten</li>
    <li>Afbeelding omvormen naar 60x80 pixels</li>
    <li>Matrix van afbeelding omvormen tot een kolomvector</li>
    <li>Set van kolomvectoren maken</li>
    <li>Gemiddelde vector berekenen</li>
    <li>Voor elke vector het verschil met gemiddelde vector berekenen</li>
    <li>covariantie matrix berekenen</li>
    <li>Eigenwaarden en eigenvectoren berekenen</li>
    <li>Gewichten ten opzichte van gezichtsruimte bepalen</li>

    <h3>
      Nieuwe foto herkennen
    </h3>
    <li>Afbeelding omzetten in grijstinten</li>
    <li>Afbeelding omvormen naar 60x80 pixels</li>
    <li>Matrix omvormen tot een kolomvector</li>
    <li>Verschil met gemiddelde vector berekenen</li>
    <li>Projectie op gezichtsruimte</li>
    <li>Norm van de euclidische afstand bepalen tussen de kolommen van Omega en vector Omega_nieuw</li>
    <li>Minimum zoeken</li> -->
    <!-- <input type="file" id="fileInput" multiple>
    <div id="output"></div> -->

    <div id="alg-0" class="alg-frame" >
      <div style="text-align: center;">
        <h3>Stap 1: Knip afbeelding uit en vorm om naar juiste resolutie</h3>
        <p style="padding-left: 20px; padding-right: 20px;" > 
          Om ervoor te zorgen dat het algoritme goed werkt, moeten alle afbeeldingen in de database dezelfde resolutie hebben en enkel van het hoofd. Daarom moet je alle afbeeldingen eerst bijsnijden en omvormen naar een specifieke resolutie (in ons voorbeeld nemen we 115x80 pixels). 
          Als je op de knop hieronder drukt zal je de bewerking zien gebeuren bij prof. Vander Sloten. Hij is de vice-decaan van onze faculteit én een van de professoren voor het vak <i>Toegepaste Mechanica, deel 1</i>. Achter de schermen gebeurt deze stap nu voor alle afbeeldingen van de proffen. Later in deze tutorial ga je nog afbeeldingen tegenkomen van docenten die in de database zitten. 
        </p>
      </div>
      
      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <canvas id="cnv_alg_0" style="border-radius: 10px; height: 200px;"></canvas>
        <button class="button" onclick="alg_crop_and_scale()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Knip uit</button>
      </div>
      
    </div>

    <div id="alg-1" class="alg-frame" style="display: none;">
      
      <div style="text-align: center;">
        <h3>Stap 2: Zet afbeelding om in grijswaarden</h3>
        <p style="padding-left: 20px; padding-right: 20px;" > 
          Het algoritme werkt enkel met grijswaarden. Daarom moet je de afbeeldingen eerst omzetten naar grijswaarden. Hieronder zie je hoe dit gebeurt bij prof. Vander Sloten.
        </p>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <canvas id="cnv_alg_1" style="border-radius: 10px; height: 200px;"></canvas>
        <button class="button" onclick="alg_to_grey()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Naar grijswaarden</button>
      </div>
      
    </div>

    <div id="alg-2" class="alg-frame" style="display: none;">
      <div style="text-align: center;">
        <h3>Stap 3: Gemiddeld gezicht maken</h3>
      <p style="padding-left: 20px; padding-right: 20px;" > 
        Om het algoritme te laten werken, moet je eerst een gemiddeld gezicht maken. Dit doe je door alle gezichten in de database op te tellen en te delen door het aantal gezichten. Hieronder kan je het gezicht van prof. Vander Sloten vergelijken met het gemiddelde gezicht.
        </p>  
      </div>
      

      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <canvas id="cnv_alg_2" style="border-radius: 10px; height: 200px;"></canvas>
        <button class="button" onclick="alg_to_mean()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Naar gemiddeld gezicht</button>
      </div>
    </div>

    <div id="alg-3" class="alg-frame" style="display: none;">
      <div style="text-align: center;">
        <h3>Stap 4: Verschil met gemiddeld gezicht</h3>
      <p style="padding-left: 20px; padding-right: 20px;" > 
        Zoals ook hiernaast staat uitgelegd gaan we van elk gezicht het verschil berekenen met het gemiddelde gezicht. Dit doen we door van elk gezicht het gemiddelde gezicht af te trekken. Hieronder kan je zien hoe dit gebeurt bij prof. Vander Sloten.
      </p> 
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <canvas id="cnv_alg_3" style="border-radius: 10px; height: 200px;"></canvas>
        <button class="button" onclick="alg_to_diff()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Verschil met gemiddeld gezicht</button>
      </div>
    </div>

    <div id="alg-4" class="alg-frame" style="display: none;">
      
      <div style="text-align: center;">
        <h3>Stap 5: Eigenfaces Berekenen</h3>
      <p style="padding-left: 20px; padding-right: 20px;" > 
        Eens de verschillen met het gemiddelde gezicht berekend zijn, kunnen we de zogenaamde <i>eigenfaces</i> berekenen. Dit doen we door de zogenaamde <i>covariantie matrix</i> te berekenen en de eigenwaarden en eigenvectoren te bepalen. Eens we de eigenvectoren en eigenwaarden hebben bepaald, houden we enkel de eigenvectoren bij die de grootste eigenwaarden hebben. Deze eigenvectoren noemen we de eigenfaces. Hieronder kan je de eigenface hoorende bij de grootste eigenwaarde vergeleken met het verschil van prof. Vander Sloten.
        Nadat alle eigenfaces zijn berekend, maken we een gewichten matrix, zoals hiernaast uitgelegd. Deze gewichten matrix kunnen we gebruiken om nieuwe gezichten te herkennen.
        </p>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <canvas id="cnv_alg_4" style="border-radius: 10px; height: 200px;"></canvas>
        <button class="button" onclick="alg_to_eigenfaces()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Eigenfaces berekenen</button>
      </div>
    </div>

    <div id="alg-5" class="alg-frame" style="display: none;">
      
      <div style="text-align: center;">
        <h3>Stap 6: Gezichten vergelijken</h3>
      <p style="padding-left: 20px; padding-right: 20px;" > 
        Nu alles is berekend, kunnen we het algoritme gebruiken om nieuwe gezichten te herkennen. Dit doen we door de gewichten matrix te berekenen van het nieuwe gezicht en de norm van de euclidische afstand te berekenen tussen de gewichten matrix van het nieuwe gezicht en de gewichten matrix van de gezichten in de database. Het gezicht met de kleinste afstand is het gezicht dat het meest overeenkomt met het nieuwe gezicht. We kunnen het ook gebruiken om te zien hoeveel een totaal nieuw persoon lijkt op de gezichten in de database. Welke professor lijkt het meest op Mr. Bean? Kom het te weten door op de knop te drukken!
      </p>
      </div>
      <button class="button" onclick="alg_compare()" style="margin-top: 10px; padding: 10px; height: 40px; margin-left: 20px;">Vergelijk!</button>
      <div style="display: flex; flex-direction: row; justify-content: center; width:100%; align-items: center;">
        <img src="{{ url_for('static', filename='images/mr_bean_cut.png') }}" style="border-radius: 10px; height: 200px;">
        <img src="{{ url_for('static', filename='images/closest_match.png') }}" style="display: none; border-radius: 10px; height: 200px; margin-left: 20px;" id="closest_match">
      </div>
        De top 5 van gezichten die het meest overeenkomen met Mr. Bean zijn:
        <ol id="closest_matches" style="display: none;">
          <li>Prof. Rijmen</li>
          <li>Prof. Vander Sloten</li>
          <li>Prof. Baelmans</li>
          <li>Prof. Van Hamme</li>
          <li>Prof. De Laet</li>
        </ol>

    </div>

    
    

    <button class="button" onclick="next_step_alg()" id="next_step_alg_btn"  style="margin-top: 10px; padding: 10px; align-self: center;"><i class="fas fa-arrow-right"></i> Volgende stap</button>
  </div>
</div>

