<div class="box-header">Wiskunde: Gezichtsherkenning - 4/10</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Informatie gezichtsherkenning</h2>
          <p>
            Het doel van een gezichtsherkennend systeem is het identificeren van een persoon aan de hand van (kenmerken van) zijn gezicht, met behulp van een geautomatiseerde procedure en zonder tussenkomst van een mens om de herkenning te doen of te verifiëren.
            In een eerste stap ontwerp je een gezichtsherkenningsalgoritme dat gebruik maakt van enkele algebraïsche technieken zoals eigenwaarden, eigenvectoren en singuliere waardenontbinding.
            Deze algebraïsche technieken komen uitgebreid aan bod in het vak Toegepaste algebra. 
          
          </p>
        </div>
      </div>
    </div>
