<div class="box-header">Wiskunde: Gezichtsherkenning - 5/12</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Informatie gezichtsherkenning</h2>
          <p>
            Het doel van een gezichtsherkennend systeem is het identificeren van een persoon aan de hand van (kenmerken van) zijn gezicht, met behulp van een geautomatiseerde procedure en zonder tussenkomst van een mens om de herkenning te doen of te verifiëren.
            In een eerste stap ontwerp je een gezichtsherkenningsalgoritme dat gebruik maakt van enkele algebraïsche technieken zoals eigenwaarden, eigenvectoren en singuliere waardenontbinding.
            Deze algebraïsche technieken komen uitgebreid aan bod in het vak Toegepaste Algebra. Als je wil, kan je het <a href="/static/pdf/algebra.pdf" target="_blank">extra document </a> eens bekijken om kennis te maken met wat je komend semester zal leren in dit vak. 
            Staar je nu zeker niet blind op de wiskunde, de professoren leggen dit in het komend semester goed uit tijdens de lessen. </p><p>Meer informatie over het vak Toegepaste Algebra vind je <a href="https://onderwijsaanbod.kuleuven.be/syllabi/n/H01A4BN.htm#activetab=doelstellingen_idm6117200" target="_blank">hier</a>. Je kan verder <a href="https://onderwijsaanbod.kuleuven.be/2023/opleidingen/n/SC_55036830.htm#fasen=1&bl=all" target="_blank">hier</a> al eens rondkijken bij je andere vakken van het eerste jaar. Je herkent hier ongetwijfeld ook de vier domeinen van vakken die we vandaag ook toepassen in het Coffee Maker-project (Energie, Materie, Informatie en Wiskunde).
          </p>
        </div>
      </div>
    </div>