<div class="box-header">Wiskunde: Wat is een Afbeelding - 1/10</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Resolutie</h2>
          <p>
            3 cirkels met telkens andere resolutie met telkens de matrix ernaast
          </p>
          <p>
            P&O in meerdere resoluties met slider
            scale-0 20x15
            scale-1 40x30
            scale-2 80x60
            scale-3 160x120
            scale-4 320x240
            scale-5 640x480
          </p>
        </div>
      </div>
    </div>