<div class="box-header">Wiskunde: Kleurenkeuze - 1/11</div>
    <div class="columns">
      <div class="column" id="color_select_div">
        <div id="servo_sequentions_title_div">
          <h2>Kleuren kiezen </h2>
          <button class="button" id="saveSequentionsButton" onclick="downloadColorsAndOptions()"><i class="fas fa-save"></i> <span id="saveSequentionsMessage"> Download</span></button>
          <button class="button" id="saveSequentionsButton" onclick="uploadColorsAndOptions()"><i class="fas fa-upload"></i> <span id="importSequentionsMessage"> Upload</span></button>
      </div>
          Samen met het subteam van informatie moeten jullie beslissen welk kleur bij welke optie van het drankje hoort. Ga dus langs bij het subteam van informatie en bespreek het met hen. Eens jullie al de keuzes hebben gemaakt en ze hieronder hebben aangeduid, kan je op de knop hierboven gebruiken om je gemaakte database en kleurenkeuze te downloaden. Zo kunnen we deze gebruiken op de computer van de demonstratie.
          <br>
          <!-- zwart - rood - groen - blauw - cyaan - magenta - geel - wit -->

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Zwart: </h3>
            <select id="zwart">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Rood: </h3>
            <select id="rood">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Groen: </h3>
            <select id="groen">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Blauw: </h3>
            <select id="blauw">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Cyaan: </h3>
            <select id="cyaan">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Magenta: </h3>
            <select id="magenta">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Geel: </h3>
            <select id="geel">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>

          <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
            <h3 style="margin-right: 20px;">Wit: </h3>
            <select id="wit">
              <option value="Koffie">Koffie</option>
              <option value="Thee">Thee</option>
              <option value="Koffie met suiker">Koffie met suiker</option>
              <option value="Thee met suiker">Thee met suiker</option>
              <option value="Koffie met melk">Koffie met melk</option>
              <option value="Thee met melk">Thee met melk</option>
              <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
              <option value="Thee met melk en suiker">Thee met melk en suiker</option>
            </select>
          </div>
            
          
          
      </div>
      
    </div>