<div class="box-header">Wiskunde: Detecteer wie de prof is! - 12/12</div>
    <div class="columns">
      <div class="column" id="camera_div">
          <h2>Gezichtsherkenning voor koffie!</h2>
          <div>
            <button class="button" onclick="start_camera()"><i class="fas fa-play"></i> Start Camera</button>
            <button class="button" onclick="stop_camera()"><i class="fas fa-stop"></i> Stop Camera</button>
          </div>
          <img src="{{ url_for('video_feed') }}" height="75%" id="video_feed">
          <div>
            <button class="button" onclick="detect_face()" style="margin-top: 10px; padding: 10px;">Detecteer de prof!</button>
          </div>
          
        </div>
        <div class="column">
          <p><b>De gedecteerde prof: </b> <span id="detected_prof"> </span></p>
          <p><b>De geprefereerde optie: </b> <span id="detected_option"> </span></p>
          <p><b>Favoriete liedje: </b> <span id="detected_song"> </span></p>
          <div id="detected_color_box" class="color-box" style="background-color: brown; width: 100%; height: 80%;" ></div>
        </div>
    </div>