<div class="box-header">Wiskunde: Resolutie - 2/12</div>
    <div class="columns">
      <div class="column">
        <h2>Resolutie</h2>
          Door de schuifknop te bewegen kan je de tekst 'P&O' bekijken in meerdere resoluties. 
          Zo krijg je een idee bij welke resolutie de tekst duidelijk is. 
          <br>
          <p>
          P&O staat voor Probleemoplossen en ontwerpen. Dit is een projectvak waar je je ingenieurskennis in de praktijk kan omzetten. 
          Je werkt een semester lang samen met je team om een creatieve oplossing te bedenken voor een bepaald probleem. Later bouw je je oplossing dan uit aan de hand van (relatief) eenvoudig materiaal.
          De oefening van vandaag waarbij je in team een Smart Coffee Maker maakt, is een eerste introductie op dit vak. </p>
                    <p>De vakkenreeks P&O loopt als een rode draad doorheen je opleiding. Elk jaar ga je in team minstens één project moeten aanpakken. In het eerste jaar zijn de projecten voor iedereen hetzelfde en omvatten ze aspecten van verschillende ingenieursdisciplines (net zoals deze Coffee Maker!). </p><p>Vanaf het tweede jaar, ga je meer specifiek in aanraking komen met projecten die horen bij een specifieke ingenieursdiscipline. 
                      Dit kan biomedische technologie, bouwkunde, chemische ingenieurstechnieken, computerwetenschappen, elektrotechniek, materiaalkunde en werktuigkunde zijn. In de loop van je tweede jaar ga je hiertussen jouw hoofdrichting moeten kiezen.
                      
                      
                      <p><b>Opdracht:</b> Bespreek kort binnen je subteam van vier studenten welke ingenieursdiscipline je op dit moment het meest aanspreekt. Het is uiteraard absoluut geen probleem als je nog geen idee of voorkeur hebt, daarvoor is er het eerste jaar om je eigen talenten en voorkeuren te ontdekken!</p>




        </p>
        
        </div>
      <div class="column">
        <div id="rgb-slider">
          <h1>Slider</h1>
        <label for="blackSlider">Resolutie: <span class="slider-value" id="blackValue">0</span></label>
        <input type="range" id="blackSlider" min="0" max="5" value="0">
        <img src="{{url_for('static', filename='images/scale-0.jpg')}}" alt="" height="75%" id="picture_resolution_img">
        </div>
        
      </div>
    </div>  