<div class="box-header">Wiskunde: AI - 7/11</div>
    <div class="columns">
      <div class="column">
          <h3>Wat is AI?</h3>
          <p><b>AI of Artificiële intelligentie</b> is de mogelijkheid van een machine om mensachtige vaardigheden te vertonen - zoals redeneren, leren, plannen en creativiteit.
          </p><p>
            Wanneer we over AI spreken, bedoelen we meestal <i>Machine Learning</i>. Dit is een domein van AI dat zich richt op het ontwikkelen van algoritmes en technieken waarmee computers kunnen leren van gegevens en verbeteren in het uitvoeren van taken. 
            In plaats van expliciet geprogrammeerd te worden voor elke mogelijke situatie, stelt <i>Machine Learning</i> systemen in staat om patronen te ontdekken in grote hoeveelheden gegevens en hieruit inzichten te halen. 
            Dit vermogen om te leren en zich aan te passen aan nieuwe informatie maakt het mogelijk om complexe taken uit te voeren, zoals het herkennen van spraak, het aanbevelen van producten op basis van koopgeschiedenis, en zelfs het besturen van autonome voertuigen. 
            <i>Machine Learning</i> is een krachtig gereedschap binnen de AI-wereld, omdat het computers in staat stelt om taken uit te voeren die voorheen alleen door mensen konden worden uitgevoerd, en tegelijkertijd hun prestaties in de loop van de tijd te verbeteren.
          </p>
          <h3>Wat is een Neuraal Netwerk?</h3>
          <p>
            Een van de meest gebruikte architecturen binnen <i>Machine Learning</i> is een <b>Neuraal Netwerk</b>. Het is een computationeel model geïnspireerd door het menselijke brein. Het bestaat uit lagen van kunstmatige 'neuronen', die informatie verwerken door middel van wiskundige bewerkingen. Elke neuron ontvangt input, voert berekeningen uit en geeft vervolgens output door aan andere neuronen. Neurale netwerken worden gebruikt in machine learning om complexe taken uit te voeren, zoals patroonherkenning in beelden of natuurlijke taalverwerking. 
            De structuur van het netwerk, inclusief het aantal en de verbindingen tussen de lagen, beïnvloedt hoe goed het netwerk in staat is om te leren en taken uit te voeren. Tijdens het trainingsproces past het netwerk zich aan door het aanpassen van de gewichten van de verbindingen, zodat het beter wordt in het maken van voorspellingen of classificaties op basis van de gegevens die het heeft gezien. Hiernaast kan je een voorbeeld zien van hoe een neuraal netwerk is opgebouwd.
          </p>

          <p>
            <b>Inputlaag</b>: De inputlaag is de eerste laag van het netwerk. Deze laag ontvangt de gegevens die het netwerk moet verwerken. De inputlaag is meestal een vector van getallen, waarbij elk getal een bepaalde eigenschap van de gegevens vertegenwoordigt. Bijvoorbeeld, als het netwerk een afbeelding van een hond moet classificeren, kan de inputlaag een vector zijn die de pixelwaarden van de afbeelding bevat.
            <br> <br>
            <b>Verborgen laag</b>: De verborgen lagen zijn de lagen tussen de input- en outputlaag. Deze lagen voeren berekeningen uit op de input en geven de resultaten door aan de volgende laag. De verborgen lagen zijn de sleutel tot het succes van het netwerk, omdat ze de mogelijkheid hebben om complexe patronen in de gegevens te ontdekken. Hoe meer verborgen lagen een netwerk heeft, hoe complexer de patronen die het kan leren.
            <br> <br>
            <b>Outputlaag</b>: De outputlaag is de laatste laag van het netwerk. Deze laag geeft de voorspellingen of classificaties van het netwerk weer. De outputlaag is meestal een vector van getallen, waarbij elk getal een bepaalde eigenschap van de gegevens vertegenwoordigt. Bijvoorbeeld, als het netwerk een afbeelding van een hond moet classificeren, kan de outputlaag een vector zijn die de kans weergeeft dat de afbeelding een bepaald ras van hond is.
          </p>

          <p>In jullie studentencarrière zullen jullie nog veel te maken krijgen met verschillende vormen van <i>Machine Learning</i>. Dit is nog maar het begin!</p>
          
      </div>
      <div class="column" style="display: flex; align-items: center; justify-content: center;">
        <img src="{{ url_for('static', filename='images/Neuraal-net.png') }}" height="90%">
      </div>
    </div>  