<div class="box-header">Wiskunde: Resolutie - 2/10</div>
    <div class="columns">
      <div class="column">
        <h2>Resolutie</h2>
          <p>
            P&O in meerdere resoluties met slider: 
            <ul>
              <li>20x15</li>
              <li>40x30</li>
              <li>80x60</li>
              <li>160x120</li>
              <li>320x240</li>
              <li>640x480</li>
            </ul>
          </p>
        
        </div>
      <div class="column">
        <div id="rgb-slider">
          <h1>Slider</h1>
        <label for="blackSlider">Resolutie: <span class="slider-value" id="blackValue">0</span></label>
        <input type="range" id="blackSlider" min="0" max="5" value="0">
        <img src="{{url_for('static', filename='images/scale-0.jpg')}}" alt="" height="75%" id="picture_resolution_img">
        </div>
        
      </div>
    </div>  