<div class="box-header">Wiskunde: Wat is een Afbeelding - 1/10</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Grijswaarden</h2>
          <p>
            opdracht 1:
            converteer de afbeelding een naar grijswaarden door enkel rood, groen of blauw op te slaan 
          </p>
          <p>
            opdracht 2:
            gemiddelde van rood groen en blauw 
            waarom nog steeds geen goed idee en foto laten zien RGB.png
            Je kan de kleuren dan niet meer onderscheiden 
          </p>
          <p>
            opdracht 3:
            Opzoeken wat het ideale percentage rood groen en blauw is en instellen 
          </p>
        </div>
      </div>
    </div>
