<div class="box-header">Wiskunde: Gezichtsherkenning met AI - 9/10</div>
    <div class="columns">
      <div class="column">
          <h3>Wat is AI?</h3>
          <p><b>AI of Artificiële intelligentie</b> is de mogelijkheid van een machine om mensachtige vaardigheden te vertonen - zoals redeneren, leren, plannen en creativiteit.
            <br>
            Wanneer men over AI spreekt, bedoelen ze meestal <i>Machine Learning</i>. Dit is een subveld van AI dat zich richt op het ontwikkelen van algoritmes en technieken waarmee computers kunnen leren van gegevens en verbeteren in het uitvoeren van taken. 
            In plaats van expliciet geprogrammeerd te worden voor elke mogelijke situatie, stelt <i>Machine Learning</i> systemen in staat om patronen te ontdekken in grote hoeveelheden gegevens en hieruit inzichten te halen. 
            Dit vermogen om te leren en zich aan te passen aan nieuwe informatie maakt het mogelijk om complexe taken uit te voeren, zoals het herkennen van spraak, het aanbevelen van producten op basis van koopgeschiedenis, en zelfs het besturen van autonome voertuigen. 
            <i>Machine Learning</i> is een krachtig gereedschap binnen de AI-wereld, omdat het computers in staat stelt om taken uit te voeren die voorheen alleen door mensen konden worden uitgevoerd, en tegelijkertijd hun prestaties in de loop van de tijd te verbeteren.
          </p>
      </div>
      <div class="column">
      </div>
    </div>  