<div class="box-header">Wiskunde: Gezichtsherkenning met nieuw algoritme - 9/11</div>
    <div class="columns">
      <div class="column">
          <h2>Specifieke gezichtskenmerken</h2>
          Zoals eerder aangehaald, worden de gezichten uitgelijnd door gebruik te maken van gezichtskenmerkenschatting. Deze techniek houdt in dat we 68 belangrijke punten op elk gezicht identificeren, zoals de bovenkant van de kin, de hoeken van de ogen en de randen van de wenkbrauwen. 
          De locaties van deze kenmerken kunnen vervolgens gebruikt worden om de foto aan te passen en bijvoorbeeld de gezichten te centreren zoals nodig is voor het encoderen, maar je kan ook bijvoorbeeld Artificiële Make-up toevoegen aan de gezichten.
          <br>
          <p>
          Er is één webcam voorzien voor beide subteams. Ga nu samen rond een computer met webcam staan. Door op de "Gezichtskenmerken"-knop hieronder te klikken, kan je de gezichtskenmerken aanzetten op de camera feed hiernaast. Met de "Make up"-knop kan je de make up aan en uit zetten. 
          </p>
          <br>
          <div style="display: flex; flex-direction: row;" >
            <button class="button" onclick="toggle_face_landmarks()" style="margin-top: 10px; padding: 10px;"><i class="fas fa-eye"></i> Gezichtskenmerken</button>
            <button class="button" onclick="toggle_makeup()" style="margin-top: 10px; padding:10px;"><i class="fas fa-magic"></i> Make up</button>
          </div>
          <p>Probeer de software eens uit door je gezicht zo te draaien dat je gezichtskenmerken net wel of net niet worden aangeduid. Of hou je hand eens voor één oog.</p>
          
          <h2>Gezichtsherkenning</h2>
		  Dit nieuwe gezichtsherkenningsalgoritme bevat de vier stappen met Machine Learning die we op de vorige pagina uitlegden. Jullie kunnen het algoritme uittesten door jezelf toe te voegen aan de database waarmee vergeleken wordt. Je vult hieronder je naam in, kijkt in de camera en drukt op de "Gezichtsherkenning"-knop. Probeer eens alle vier je teamleden apart in te voeren en kijk dan tesamen in de camera. Wordt iedereen juist herkend?
          <br>
          <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;" >
            <input type="text" id="add_face_name" name="name" value="Persoon-1" style=" padding: 10px; margin-right: 10px;">
            <button class="button" onclick="add_face()" style="margin: 0; padding: 10px;"><i class="fas fa-plus"></i> Voeg toe</button>
          </div>
          <br>
          Door op de knop hieronder te klikken kan je de gezichtsherkenning aan of uit zetten op de camera feed hiernaast.
          <br>
          <button class="button" onclick="toggle_face_recognition()" style="margin-top: 10px; padding: 10px;"><i class="fas fa-eye"></i> Gezichtsherkennning</button>

          
      </div>
      <div class="column" id="camera_div">
          <h2>Camera</h2>
          <div>
            <button class="button" id="start_camera_btn" onclick="start_camera()"><i class="fas fa-play"></i> Start Camera</button>
            <button class="button" onclick="stop_camera()"><i class="fas fa-stop"></i> Stop Camera</button>
          </div>
          <img src="{{ url_for('video_feed') }}" height="75%" id="video_feed">
        </div>
    </div>