<div class="box-header">Wiskunde: Detecteer wie de prof is! - 13/13</div>
<p> <font size="2">  Dit is de laatste pagina van jouw tutorial. Hierna ben je klaar en kan je samen met het subteam Informatie bekijken hoe je alles samenvoegt. Concreet wil dit zeggen dat jullie tijdens de eigenlijke demonstratie aan de kleursensor van team Informatie, de nodige gegevens (m.a.w. de juiste kleurencombinatie) moeten doorgeven. Team Informatie zal verder hun kleursensor opnieuw moeten kalibreren (zij weten hoe dit moet!) maar let op dat zij hun tegen jullie scherm te houden. Open hiervoor pagina 3 van deze tutorial (de RGB slider) en zorg voor de juiste kleuren. Vervolgens keer je terug naar deze pagina (pagina 11) en laat je een prof voor de webcam plaatsnemen. Als alles goed gaat, zal de prof herkend worden en wordt er een kleurencombinatie getoond. De kleursensor herkent deze kleurencombinatie; de Arduino stuurt vervolgens de servomotor aan die dan de juiste draaiingen zal uitvoeren om het gewenste drankje te maken.
</font> 
</p>

    <div class="columns">
      <div class="column" id="camera_div">
        <br><br>
        <br>
          <h2>Gezichtsherkenning voor koffie of thee!</h2>
          <div>
            <button class="button" id="start_camera_btn" onclick="start_camera()"><i class="fas fa-play"></i> Start Camera</button>
            <button class="button" onclick="stop_camera()"><i class="fas fa-stop"></i> Stop Camera</button>
          </div>
          <img src="{{ url_for('video_feed') }}" height="75%" id="video_feed">
          <div>
            <button class="button" onclick="detect_face()" id="btn_detect_face" style="margin-top: 10px; padding: 10px;">Detecteer de prof!</button>
          </div>
          
        </div>
        <div class="column">
          <p><b>De gedetecteerde prof: </b> <span id="detected_prof"> </span></p>
          <div id="detected_color_box" class="color-box" style="background-color: brown; width: 100%; height: 80%;" ></div>
        </div>
    </div>