<div class="box-header">Bespreking met team materie - 7/7</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <p>
            Haal de servomotor van het houten plankje en neem het houten plankje mee naar de groep die bezig is met materie. 
            Zij zouden ondertussen een idee moeten hebben, hoe het plankje moet draaien voor het gevraagde drankje. 
            Bespreek met hen hoe het de servo moet draaien om volgende drankjes te maken:
            <ol>
              <li>Koffie</li>
              <li>Koffie met suiker</li>
              <li>Koffie met melk en suiker</li>
              <li>Koffie met melk</li>
            </ol>
          </p>
          <h3>
            Opdracht 5.1
          </h3>
          <p>
            Open de code uit opdracht 2 (kleurensensor) en pas de functie 'stuur_servo()' aan zodat de servomotor de juiste beweging maakt om zwarte koffie te maken. 
            <br>
            <b>Tip:</b> Gebruik de code uit oefening 4 om de servo naar bepaalde hoeken te laten draaien. 
          </p>

          <h3>Opdracht finaal</h3>
          <p>
            Pas ook de rest van de code aan, zodat alle drankjes gemaakt kunnen worden.
          </p>

          <h3>
            Extra
          </h3>
          <p>
            Ben je klaar en heb je nog zin om iets extra te programmeren? Vraag dan extra materiaal aan je assistent. 
            Zo kan je bijvoorbeeld een LCD scherm aansluiten waarbij de prof verwelkomd wordt tijdens het maken van de koffie/thee.
            Anders kan je ook iets creatiefs bouwen met enkele LED lampjes. 
          </p>
        </div>
      </div>
    </div>


