<div class="box-header">Opdracht 2: RGB Led - 2/7</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h3>RGB-LED</h3>
        <p>
          Een RGB-LED is een LED die drie kleuren kan weergeven: rood, groen en blauw. Door de intensiteit van deze kleuren te veranderen kan je alle kleuren van de regenboog maken.
        </p>

        <p>
          Elke kleur in een RGB-led wordt vertegenwoordigd door een specifieke RGB-waarde, uitgedrukt als getallen tussen 0 en 255 voor rood, groen en blauw. Door deze waarden aan te passen, kunnen diverse kleuren en tinten worden gecreëerd. Dit geeft gebruikers de mogelijkheid om nauwkeurig hun gewenste kleur te bereiken, waardoor RGB-leds zeer veelzijdig zijn voor verlichting, visuele effecten en artistieke toepassingen.
        </p>

        <p>
          Op het breadboard dat verbonden is aan de Arduino, zien jullie een RGB-led. Download 
          <a href="/static/arduino_code/template_RGB.zip">
            dit bestand</a>, open het en upload de code naar de arduino. 
            Vergeet niet om bij 'Select Board' de juiste arduino te selecteren, anders is het niet mogelijk om je code te uploaden.
            Het ledje zou nu rood licht moeten geven.  
        </p>
        <h3>
          Opdracht 2.1
        </h3>
        <p>
            Maak de led groen door de RGB-waarden van dit stuk code aan te passen. 
            Upload je code opnieuw naar de arduino en test of het ledje groen licht geeft.
        </p>
        <pre>
<code class="language-arduino code-container">
void loop() {
  //Pas hier de RGB waarden aan om verschillende kleuren te bekomen
  analogWrite(pin_rood, 255);
  analogWrite(pin_groen, 0);
  analogWrite(pin_blauw, 0);
}
  </code> 
        </pre>

        <h3>
          Opdracht 2.2
        </h3>
          <p>
            Maak de led wit door de juiste RGB-waarden in te vullen.
          </p>
          <h3>
            Opdracht 2.3
          </h3>
          <p>
            Maak de led oranje door de juiste RGB-waarden in te vullen. 
          </p>
        </div>
      </div>
    </div>


<!--
<div class="box-header">Let's Learn Together</div>
    <div class="columns">
      <div class="column">Column 1 - Exciting Content</div>
      <div class="column">

        <pre>

<code class="language-arduino code-container">int S0 = 4;
int S1 = 45;
int S2 = 44;
int S3 = 46;
int sensor = 48;

int rood = 0;
int groen = 0;
int blauw = 0;

void setup() {
  // put your setup code here, to run once:
  pinMode(S0, OUTPUT);
  pinMode(S1, OUTPUT);
  pinMode(S2, OUTPUT);
  pinMode(S3, OUTPUT);
  pinMode(sensor, INPUT);

  digitalWrite(S0, HIGH);
  digitalWrite(S1, LOW);

  Serial.begin(9600);
}

void loop() {
  // put your main code here, to run repeatedly:
  digitalWrite(S2,LOW);
  digitalWrite(S3, LOW);
  rood = pulseIn(sensor, LOW);
  // frequency = map(frequency, 85, 800, 255, 0);
  // if (frequency < 0)
  //   frequency = 0;
  // else if (frequency >255)
  //   frequency = 255;
  // Serial.print("R= ");
  // Serial.print(frequency);
  // Serial.print("  ");
  // delay(100);

  digitalWrite(S2,HIGH);
  digitalWrite(S3, HIGH);
  groen = pulseIn(sensor, LOW);
  //frequency = map(frequency, 120, 720, 255, 0);
  // Serial.print("G= ");
  // Serial.print(frequency);
  // Serial.print("  ");
  // delay(100);

  digitalWrite(S2,LOW);
  digitalWrite(S3, HIGH);
  blauw = pulseIn(sensor, LOW);
  //frequency = map(frequency, 120, 860, 255, 0);
  // Serial.print("B= ");
  // Serial.print(frequency);
  // Serial.println("  ");
  // delay(100);
  if ((rood > 3000) && (groen >7000) && (blauw > 6500)) {
    Serial.println(" Zwart");
  }
  else if ((rood < 400) && (groen >1800) && (blauw > 1100)) {
    Serial.println("Rood");
  }
  else if ((rood > 750) && (groen < 500) && (blauw > 800)) {
    Serial.println("Groen");
  }
  else if ((rood > 3000) && (groen < 1700) && (blauw <700)) {
    Serial.println("Blauw");
  }
  else if ((rood > 700) && (groen < 500) && (blauw <500)) {
    Serial.println("Licht blauw");
  }
  else if ((rood < 400) && (groen >700) && (blauw <500)) {
    Serial.println("Roos");
  }
  else if ((rood < 400) && (groen <500) && (blauw >450)) {
    Serial.println("Geel");
  }
  else if ((rood < 400) && (groen <500) && (blauw <450)) {
    Serial.println("Wit");
  }
  else {
    Serial.println("geen idee");
  }
  Serial.print(rood);
  Serial.print(" ");
  Serial.print(groen);
  Serial.print(" ");
  Serial.println(blauw);
  delay(500);
}

        
</code></pre>
        
      </div>
    </div>
//-->