<div class="box-header">Bespreking met team 'Materie' - 7/7</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <p>
            De teamgenoten van opdracht Materie bedachten ondertussen hoe hun mechanisme moet bewegen om de bestellingen uit te voeren. 
            Bespreek daarom met hen hoe de servomotor moet draaien om volgende drankjes te maken:
            <ol>
              <li>Koffie</li>
              <li>Koffie met suiker</li>
              <li>Koffie met melk en suiker</li>
              <li>Koffie met melk</li>
              <li>Thee</li>
              <li>Thee met suiker</li>
              <li>Thee met melk en suiker</li>
              <li>Thee met melk</li>
            </ol>
          </p>
          <h3>
            Opdracht 5.1
          </h3>
          <p>
            Download
            <a href="/static/arduino_code/template_final_file.zip">
              dit bestand</a>, gebruik de waardes voor 'match_kleur()' uit opdracht 2 en  pas de functie 'stuur_servo()' aan zodat de servomotor de juiste beweging maakt om voor elk van de 15 mogelijke personen het juiste drankje te maken.
              Ook moeten jullie voor elke persoon het juiste liedje laten afspelen door via de funtie 'sendPico()' een waarde tussen 0 en 164 te versturen. De juiste waardes voor de liedjes vind je terug in opdracht 4.6.
            <br>
            <b>Tip:</b> Gebruik de code uit oefening 4 om de servomotor naar bepaalde hoeken te laten draaien. 
          </p>

          

          <h3>
            Deelopdrachten samenzetten
          </h3>
          <p>
            Wanneer jullie klaar zijn en het team Wiskunde of het team Materie ook, kunnen jullie de deelsystemen samenzetten. 
			Voor de integratie met team Wiskunde open je hun tutorial op de helft van jullie scherm. De andere helft houd je voor je eigen tutorial over Informatie. De Wiskunde-teamgenoten vullen op pagina 11 van hun tutorial de nodige informatie in en testen vervolgens met hun pagina 12.
			Samenzetten met team Materie doe je door hun servomotor te verbinden met jullie Arduino. Waarschijnlijk kan je hiervoor hulp gebruiken, dus spreek gerust een begeleider aan.
			Test zeker het geheel voordat de proffen langskomen!
          </p>
        </div>
      </div>
    </div>


