<div class="box-header">Opdracht 1: RGB - 1/7</div>
    <div class="columns">
      <div class="column">
        <h3>RGB-waarden</h3>
        <p>
          Met rood, groen en blauw kan je alle kleuren maken. Daarom houdt een computer voor elke pixel 3 waarden bij, die de RGB-waarden worden genoemd. 
          Dit zijn 3 getallen tussen 0 en 255 die respectievelijk weergeven hoe sterk rood, groen en blauw aanwezig zijn.
          Wanneer groen een waarde van 0 heeft, betekent dit dat er geen groen aanwezig is. 
          <br>
          Voorbeeld:
          <br>
          255 0 0 wil zeggen dat er enkel rood aanwezig is. 
        </p>
        <h3>
          Opdracht 1.1
        </h3>
        <p>
          Maak blauw door de sliders hiernaast de bewegen. 
        </p>
        <h3>
          Opdracht 1.2
        </h3>
        <p>
          Zoek de RGB waarden voor wit op en maak met de sliders hiernaast wit. 
        </p>
        <h3>
          Opdracht 1.3
        </h3>
        <p>
          Zoek de RGB waarden voor oranje op en maak met de sliders hiernaast oranje. 
        </p>
        
        </div>
      <div class="column">
        <div id="rgb-slider">
          <h1>RGB Color Slider</h1>
        <label for="redSlider">Red: <span class="slider-value" id="redValue">0</span></label>
        <input type="range" id="redSlider" min="0" max="255" value="0">
        
        <br>
        <label for="greenSlider">Green: <span class="slider-value" id="greenValue">0</span></label>
        <input type="range" id="greenSlider" min="0" max="255" value="0">
        
        <br>
        <label for="blueSlider">Blue: <span class="slider-value" id="blueValue">0</span></label>
        <input type="range" id="blueSlider" min="0" max="255" value="0">
        
        <div class="color-box" id="colorBox"></div>
        </div>
      </div>
    </div>


<!--
<div class="box-header">Let's Learn Together</div>
    <div class="columns">
      <div class="column">Column 1 - Exciting Content</div>
      <div class="column">

        <pre>

<code class="language-arduino code-container">int S0 = 4;
int S1 = 45;
int S2 = 44;
int S3 = 46;
int sensor = 48;

int rood = 0;
int groen = 0;
int blauw = 0;

void setup() {
  // put your setup code here, to run once:
  pinMode(S0, OUTPUT);
  pinMode(S1, OUTPUT);
  pinMode(S2, OUTPUT);
  pinMode(S3, OUTPUT);
  pinMode(sensor, INPUT);

  digitalWrite(S0, HIGH);
  digitalWrite(S1, LOW);

  Serial.begin(9600);
}

void loop() {
  // put your main code here, to run repeatedly:
  digitalWrite(S2,LOW);
  digitalWrite(S3, LOW);
  rood = pulseIn(sensor, LOW);
  // frequency = map(frequency, 85, 800, 255, 0);
  // if (frequency < 0)
  //   frequency = 0;
  // else if (frequency >255)
  //   frequency = 255;
  // Serial.print("R= ");
  // Serial.print(frequency);
  // Serial.print("  ");
  // delay(100);

  digitalWrite(S2,HIGH);
  digitalWrite(S3, HIGH);
  groen = pulseIn(sensor, LOW);
  //frequency = map(frequency, 120, 720, 255, 0);
  // Serial.print("G= ");
  // Serial.print(frequency);
  // Serial.print("  ");
  // delay(100);

  digitalWrite(S2,LOW);
  digitalWrite(S3, HIGH);
  blauw = pulseIn(sensor, LOW);
  //frequency = map(frequency, 120, 860, 255, 0);
  // Serial.print("B= ");
  // Serial.print(frequency);
  // Serial.println("  ");
  // delay(100);
  if ((rood > 3000) && (groen >7000) && (blauw > 6500)) {
    Serial.println(" Zwart");
  }
  else if ((rood < 400) && (groen >1800) && (blauw > 1100)) {
    Serial.println("Rood");
  }
  else if ((rood > 750) && (groen < 500) && (blauw > 800)) {
    Serial.println("Groen");
  }
  else if ((rood > 3000) && (groen < 1700) && (blauw <700)) {
    Serial.println("Blauw");
  }
  else if ((rood > 700) && (groen < 500) && (blauw <500)) {
    Serial.println("Licht blauw");
  }
  else if ((rood < 400) && (groen >700) && (blauw <500)) {
    Serial.println("Roos");
  }
  else if ((rood < 400) && (groen <500) && (blauw >450)) {
    Serial.println("Geel");
  }
  else if ((rood < 400) && (groen <500) && (blauw <450)) {
    Serial.println("Wit");
  }
  else {
    Serial.println("geen idee");
  }
  Serial.print(rood);
  Serial.print(" ");
  Serial.print(groen);
  Serial.print(" ");
  Serial.println(blauw);
  delay(500);
}

        
</code></pre>
        
      </div>
    </div>
//-->