<div class="box-header">Opdracht 3: Kleurensensor - 4/7</div>
    <div class="columns">
      <div class="column">
        <p>
          Download
          <a href="/static/arduino_code/template_kleurensensor.zip">
            dit bestand</a> en upload de code naar de Arduino. 
          Hou de kleurensensor met de kartonnen flapjes opengesperd zo dicht mogelijk tegen het scherm op het zwarte vakje. 
        </p>
        <h3>
          Opdracht 2.1
        </h3>
        <p>
          Open via Tools de 'Serial Monitor' en lees daarin de rode, groene en blauwe waarde af.
          Normaal verwachten we voor zwart de RGB-waarden 0 0 0. 
          De waarden die jullie aflezen in de Serial Monitor komen hier niet mee overeen.
          Deze sensor gebruikt niet de standaard RGB-waarden, maar werkt wel op een gelijkaardige manier. 
          Hier geldt dat hoe hoger de waarde voor rood, groen of blauw is, hoe minder die kleur aanwezig is. 
          Normaal gezien ga je voor zwart dus drie waarden kunnen aflezen die zeker boven de 2000 zijn. 
          Indien dit niet het geval is, heb je de kleurensensor waarschijnlijk niet goed op het scherm bevestigd. 
        </p>

        <h3>
          Opdracht 2.2
        </h3>
        <p>
          Haal telkens de nodige lijnen uit commentaar. Dit betekent dat je '//' voor elke regel verwijdert. 
          De code ziet er nu als volgt uit:
        </p>
          <pre>
<code class="language-arduino code-container">
int match_kleur(int rood_waarde, int groen_waarde, int blauw_waarde) {
  kleur_ID = 0;
  if ((rood_waarde > ...) && (groen_waarde > ...) && (blauw_waarde > ...)) {
      Serial.println(" Zwart");
      kleur_ID = 0;
    }
  // else if ((rood_waarde < ...) && (groen_waarde >...) && (blauw_waarde > ...)) {
  //   Serial.println("Rood");
  //   kleur_ID = 1;  
  </code> 
          </pre>
        <p>
          Om de kleur zwart te herkennen moet je verderop in het programma, de code uit commentaar halen en aanpassen. Vervang de '...' door de juiste waarden voor rood, groen en blauw.
          <br>
          <b>Tip: </b> zorg voor voldoende marge! Als je voor rood, groen en blauw waarden rond de 4000 meet, geef dan kleinere waarden in. 
         <br>
          Voorbeeld:
          <br>
          Als rood>2500 en groen>2500 en blauw>2500, dan hebben we te maken met zwart. 
          Upload je code naar de Arduino, open de Serial Monitor en test of de Arduino de kleur zwart kan herkennen.  
        </p>
        
        <h3>
          Opdracht 2.3
        </h3>
        <p>
          Maak het vak nu rood door de schuifknoppen te bewegen. 
          Wanneer je vervolgens op de Serial monitor kijkt mag de Arduino niet meer zeggen dat het vakje zwart is. 
          Als de Arduino toch nog steeds zwart aangeeft, herhaal je opdracht 2.2 en pas je de waarden aan. 
          Haal daarna de nodige lijnen uit commentaar en zoek zelf goede grenzen voor rood, groen en blauw zodat je rood kan herkennen.
          Als dit lukt, herkent de Arduino nu zowel zwart als rood. 
        </p>

        <h3>
          Opdracht 2.4
        </h3>
        <p>
         Herhaal opdracht 2.3 voor zowel groen, blauw als wit. 
	Maar deze waarden zullen verschillen bij een ander scherm of een andere helderheid. Daarom zal het nodig zijn om, op het einde van deze workshop wanneer alle deelsystemen samengebracht worden, deze kalibratie opnieuw uit te voeren.
        Test of de Arduino de vijf verschillende kleuren kan herkennen en pas indien nodig de waarden aan.
          
        </p>

      </div>
      <div id="rgb-slider">
        <h1>RGB Color Slider</h1>
      <label for="redSlider">Red: <span class="slider-value" id="redValue">0</span></label>
      <input type="range" id="redSlider" min="0" max="255" value="0">
      
      <br>
      <label for="greenSlider">Green: <span class="slider-value" id="greenValue">0</span></label>
      <input type="range" id="greenSlider" min="0" max="255" value="0">
      
      <br>
      <label for="blueSlider">Blue: <span class="slider-value" id="blueValue">0</span></label>
      <input type="range" id="blueSlider" min="0" max="255" value="0">
      
      <div class="color-box" id="colorBox"></div>
      </div>

      </div>
    </div>
