<div class="box-header">Bespreking met team materie</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <p>
            Haal de servomotor van het houten plankje en neem het houten plankje mee naar de groep die bezig is met materie. 
            Zij zouden ondertussen een idee moeten hebben, hoe het plankje moet draaien voor het gevraagde drankje. 
            Bespreek met hen hoe het de servo moet draaien om volgende drankjes te maken:
            <ol>
              <li>Koffie</li>
              <li>Koffie met suiker</li>
              <li>Koffie met melk</li>
              <li>Koffie met melk en suiker</li>
              <li>Thee</li>
              <li>Thee met suiker</li>
              <li>Thee met melk</li>
              <li>Thee met melk en suiker</li>
            </ol>
          </p>
          <p>
            Nu terug naar template kleurensensor gaan
          </p>
        </div>
      </div>
    </div>


