<div class="box-header">Motoren - 5/7</div>
    <div class="columns">
      <div class="column">
        <h3>
          DC-motor
        </h3>
        <p>
          Een DC-motor is de eenvoudigste soort motor die er bestaat, namelijk een motor die enkel toertjes draait. 
          De motor heeft twee elektrische aansluitingen die we 'polen' noemen: een positieve en een negatieve pool. Wanneer je de polen omdraait, zal de motor in de andere richting draaien.
          DC staat voor 'direct current' of 'gelijkstroom' en is het tegengestelde van AC 'alternating current' of wisselstroom.
          Hier leer je meer over in de vakken 'Elektrische netwerken' en 'Algemene natuurkunde'.
        </p>
        <img src="{{url_for('static', filename='img/DC-motor.png')}}" alt="DC-motor" style="width:50%">
      </div>
      <div class="column">
        <h3>
          Servomotor
        </h3>
        <p>
          Een servomotor draait geen toertjes zoals een DC-motor. Een servomotor draait naar een bepaalde hoek en houdt die aan. 
          Zo'n motor heeft vaak maar een beperkte draaihoek, in dit geval een kleine 180°. Deze motor kan dus enkel draaien tussen ongeveer 0° en 180°, een heel beperkt bereik.
          Jullie zullen een servomotor gebruiken voor de Smart Coffee Maker om de gewenste ingrediënten in het kopje te verzamelen. 
        </p>
        <img src="{{url_for('static', filename='img/Servo-motor.jpg')}}" alt="Servomotor" style="width:50%">
      </div>
  </div>
