<div class="box-header">Opdracht 4: motor 6/7</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h3>
            Opdracht 4.1
          </h3>
          <p>
            Download
            <a href="/static/arduino_code/Motor_template.zip">
              dit bestand</a> en upload de code naar de Arduino. 
            Laat nu de DC-motor draaien door in de Serial Monitor 'd' te versturen naar de Arduino.
            Stop de DC-motor door in de Serial Monitor 'o' te versturen. Als de motor niet draait, kan je in het bestand de code op lijn xx aanpassen van 50 naar 100. 
          </p>
          <h3>
            Opdracht 4.2
          </h3>
          <p>
            Verstuur 's' naar de Arduino. Dan draait de servomotor naar een bepaalde hoek en daarna weer terug.
          </p>
          <h3>
            Opdracht 4.3
          </h3>
          <p>
            Download
            <a href="/static/arduino_code/template_servo.zip">
              dit bestand</a>.
            Pas de code aan zodat de servomotor start bij een hoek van 70° en gaat tot een hoek van 150°.
          </p>
          <h3>
            Opdracht 4.4
          </h3>
          <p>
            Pas de code verder aan zodat de servomotor beweegt aan de helft van de snelheid. 
           <pre>
              <code class="language-arduino code-container">
void loop() {
  if (Serial.available() > 0) {
    char letter = Serial.read();
    if (letter == 's') {
      Serial.println("Servomotor begint nu");
      for (i=90; i<=120; i++) {
        myservo.write(i);
        delay(20);
      }
      delay(200);
      for (i=120; i>=90; i--) {
        myservo.write(i);
        delay(20);
      }
    }
  }
}
                </code> 
                </pre>
          </p>
        <h3>
          Opdracht 4.5
        </h3>
        <p>
          Download
          <a href="/static/arduino_code/template_test_pico.zip">
            dit bestand</a>.
          Team Energie heeft een opstelling waarmee zij met hun batterij een pico microcontroller kunnnen voeden. Deze pico is verbonden met een oled scherm en een buzzer.
          De pico heeft een analoge input die afhankelijk van de waarde van de input een bepaald liedje afspeelt. Er zijn er 8 in totaal. Laad de code op de arduino en probeer de verschillende liedjes af te spelen.
          Dit kan je doen door 's' te versturen op de serial monitor en vervolgens na de vraag een waarde tussen 0 en 164 te versturen, wat overeenkomt met 0 en 3.3V. Als richtwaarde kan je respectievelijk 0.5, 0.9, 1.3, 1.7, 2.0, 2.4, 2.8 en 3.3 V nemen voor liedjes 1 tot en met 8. Let op, als je alle waardes gaat willen uitproberen, ga je veel geduld moeten hebben. De pico is zo geprogrammeerd dat het volledige liedje afspeelt (duur +/- 3 minuten per liedje) vooraleer hij zal merken dat er al een volgend liedje (= een ander voltage) gevraagd is. Eventueel kan je de buzzer ontkoppelen (= de grond losmaken van het breadboard) en kijk je wat er verandert op het schermpje.  
        </p>
          Deze zal je moeten onthouden voor de volgende opdracht, waarbij je de juiste waardes gaat moeten koppelen aan de juiste kleurencombinatie (= de juiste prof).
        </div>
      </div>
    </div>


