<div class="box-header">Motoren</div>
    <div class="columns">
      <div class="column">
        <h3>
          DC-motor
        </h3>
        <p>
          Een DC-motor is een motor zoals de meeste van jullie zullen kennen, namelijk een motor die enkel toertjes kan draait.
        </p>
        <img src="{{url_for('static', filename='img/DC-motor.png')}}" alt="DC-motor" style="width:50%">
      </div>
      <div class="column">
        <h3>
          Servomotor
        </h3>
        <p>
          Een servomotor draait geen toertjes zoals een DC-motor. Een servomotor kan draaien naar een bepaalde hoek en die behouden. 
          Zo'n servomotor heeft vaak maar een beperkt bereik, in dit geval 180°. Deze motor kan dus enkel draaien tussen 0° en 180°.
          Jullie zullen een servomotor moeten gebruiken voor de smart coffee/tea maker om de gewenste ingrediënten in het kopje te verzamelen. 
        </p>
        <img src="{{url_for('static', filename='img/Servo-motor.jpg')}}" alt="Servomotor" style="width:50%">
      </div>
  </div>
