<div class="box-header">Opdracht 4: motor 6/7</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h3>
            Opdracht 4.1
          </h3>
          <p>
            Download
            <a href="/static/arduino_code/Motor_template.zip">
              dit bestand</a> en upload de code naar de Arduino. 
            Laat nu de DC-motor draaien door in de Serial Monitor 'd' te versturen naar de Arduino.
            Stop de DC-motor door in de Serial Monitor 'o' te versturen. Als de motor niet draait, kan je in het bestand de code aanpassen waarbij je de waarde van 50 (veel) verhoogt (max 200). 
          </p>
          <h3>
            Opdracht 4.2
          </h3>
          <p>
            Verstuur 's' naar de Arduino. Dan draait de servomotor naar een bepaalde hoek en daarna weer terug.
          </p>
          <h3>
            Opdracht 4.3
          </h3>
          <p>
            Download
            <a href="/static/arduino_code/template_servo.zip">
              dit bestand</a>.
            Pas de code aan zodat de servomotor start bij een hoek van 70° en gaat tot een hoek van 150°.
          </p>
          <h3>
            Opdracht 4.4
          </h3>
          <p>
            Pas de code verder aan zodat de servomotor beweegt aan de helft van de snelheid. 
           <pre>
              <code class="language-arduino code-container">
void loop() {
  if (Serial.available() > 0) {
    char letter = Serial.read();
    if (letter == 's') {
      Serial.println("Servomotor begint nu");
      for (i=90; i<=120; i++) {
        myservo.write(i);
        delay(20);
      }
      delay(200);
      for (i=120; i>=90; i--) {
        myservo.write(i);
        delay(20);
      }
    }
  }
}
                </code> 
                </pre>
          </p>
        <h3>
          Opdracht 4.5
        </h3>
        <p>
          Download
          <a href="/static/arduino_code/template_test_pico.zip">
            dit bestand</a>.
          Team Energie heeft een opstelling waarmee zij met hun batterij een pico microcontroller kunnen voeden. Deze pico is verbonden met een OLED scherm en een buzzer.
          De pico communiceert nu via UART (digitale communicatie) met de functie sendLetterToPico(). Elke letter vertegenwoordigt één van de 12 professoren, en op de pico is al een vaste mapping geprogrammeerd van elke professor naar een specifiek liedje (de letters a, f en j worden niet meer gebruikt):
          <br><br>
          b=Van-hamme, c=Smets, d=Vansteenwegen, e=Dehaene, g=Beernaert, h=De-Laet, i=Rijmen, k=Van-Puyvelde, l=Vander-Sloten, m=Geraedts, n=Everaerts, o=Swolfs
          <br><br>
          Je kan de verschillende professoren en hun bijhorende liedjes testen door een letter uit de lijst te versturen via de Serial Monitor. Wanneer je een letter verstuurt, zal de pico automatisch het liedje van de corresponderende professor afspelen en diens naam tonen op het OLED scherm.
        </p>
          Deze letter-naar-professor mapping zal je moeten onthouden voor de volgende opdracht, waarbij je de juiste letters gaat moeten koppelen aan de juiste kleurencombinaties in de functie stuur_servo().
        </div>
      </div>
    </div>


