<div class="box-header">Beginner: Servo sequenties - 7/10</div>
    <div class="columns">
      <div class="column">
        <div id="servo_sequentions_title_div">
            <h2>Servo Sequenties </h2>
            <button class="button" id="saveSequentionsButton" onclick="saveSequentions()"><i class="fas fa-save"></i> <span id="saveSequentionsMessage"> Opslaan</span></button>
            
        </div>
        <p>
            Om de verschillende ingrediënten in het kopje te verzamelen, zullen jullie de servo-motor moeten gebruiken. De servo-motor kan draaien tussen 0° en 180°. Jullie zullen dus een sequentie van hoeken moeten bepalen die de servo-motor moet draaien om de verschillende ingrediënten in de mok te verzamelen. De materie groep heeft normaal ondertussen al een sequentie bepaald, maar jullie moeten nu de correcte hoeken bepalen voor de verschillende sequenties. 
            <br>
            Kies voor elke kleur een van de opties en voeg vervolgens een sequentie van hoeken toe. Tussen elke hoekdraaing zit een pauze van 1 seconde. Je kan een extra hoekdraaing toevoegen door op de plus knop te drukken. Door op de min knop te drukken wordt de laatste hoekdraaing verwijderd.
            <br>
            


        </p>

        <div id="sequentions-div">
            <div id="sequention-colors">
                <h3>Zwart: </h3>
                <h3>Rood: </h3>
                <h3>Groen: </h3>
                <h3>Blauw: </h3>
                <h3>Licht Blauw: </h3>
                <h3>Roze: </h3>
                <h3>Geel: </h3>
                <h3>Wit: </h3>
            </div>
            <div id="sequention-names">
                <select id="sequention-0-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-1-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-2-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-3-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-4-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-5-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-6-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-7-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

            </div>  

            <div id="sequention-angles">
                <div class="sequention" id="sequention-0">
                    <input type="number" id="sequention-0-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-1">
                    <input type="number" id="sequention-1-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-2">
                    <input type="number" id="sequention-2-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-3">
                    <input type="number" id="sequention-3-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-4">
                    <input type="number" id="sequention-4-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-5">
                    <input type="number" id="sequention-5-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-6">
                    <input type="number" id="sequention-6-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-7">
                    <input type="number" id="sequention-7-angle-0" min="0" max="180" value="90">
                </div>


            

            </div>

            <div id="sequention-buttons-column">
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(0)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(0)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(0)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(1)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(1)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(1)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(2)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(2)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(2)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(3)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(3)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(3)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(4)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(4)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(4)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(5)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(5)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(5)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(6)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(6)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(6)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(7)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(7)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(7)">Run</button>
                </div>



            </div>


        </div>

        
        

        </div>
    </div>

