<div class="box-header">Beginner: RGB-LED - 3/10</div>
    <div class="columns">
      <div class="column">
        <h2>RGB-LED</h2>
        <p>
          Een RGB-LED is een LED die drie kleuren kan weergeven: rood, groen en blauw. Door de intensiteit van deze kleuren te veranderen kan je alle kleuren van de regenboog maken.
        </p>

        <p>
          Elke kleur in een RGB-led wordt vertegenwoordigd door een specifieke RGB-waarde, uitgedrukt als getallen tussen 0 en 255 voor rood, groen en blauw. Door deze waarden aan te passen, kunnen diverse kleuren en tinten worden gecreëerd. Dit geeft gebruikers de mogelijkheid om nauwkeurig hun gewenste kleur te bereiken, waardoor RGB-leds zeer veelzijdig zijn voor verlichting, visuele effecten en artistieke toepassingen.
        </p>

        <p>
          Op het breadboard dat verbonden is aan de Arduino, zien jullie een RGB-led. Door met de sliders hiernaast te spelen kunnen jullie de waardes van de kleuren aanpassen en zo de kleur van de led veranderen. Probeer het maar eens!
        </div>
      <div class="column">
        
      </div>
    </div>
    