<div class="box-header">Beginner: Motoren - 6/11</div>
    <div class="columns">
      <div class="column">
        <h3>
          DC-motor
        </h3>
        <p>
          Een DC-motor is de eenvoudigste soort motor die er bestaat, namelijk een motor die enkel toertjes draait. 
          De motor heeft twee elektrische aansluitingen die we 'polen' noemen: een positieve en een negatieve pool. Wanneer je de polen omdraait, zal de motor in de andere richting draaien.
          DC staat voor 'direct current' of 'gelijkstroom' en is het tegengestelde van AC 'alternating current' of wisselstroom.
          Hier leer je meer over in de vakken 'Elektrische netwerken' en 'Algemene natuurkunde'. Op jullie breadboard is zo'n DC-motor aangesloten.
          Deze kan je eens aan/uit zetten door op de knop hieronder te klikken. 
        </p>

        <button id="motor_button" onclick="motor()"><i class="fas fa-bolt"></i> Motor</button>
        <br>

        <img src="{{url_for('static', filename='img/DC-motor.png')}}" alt="DC-motor" style="width:50%">
        
      </div>
      <div class="column">
        <h3>
          Servomotor
        </h3>
        <p>
          Een servomotor draait geen toertjes zoals een DC-motor. Een servomotor draait naar een bepaalde hoek en houdt die aan. 
          Zo'n motor heeft vaak maar een beperkt bereik, in dit geval een kleine 180°. Deze motor kan dus enkel draaien tussen ongeveer 0° en 180°, een heel beperkt bereik.
          Jullie zullen een servomotor gebruiken voor de Smart Coffee Maker om de gewenste ingrediënten in het kopje te verzamelen. 
          De servo zal dan naar de gewenste hoeken draaien als je op de knop klikt.
        </p>
        
        <div id="servo_form">
          <label class="label" for="servo-value" >Hoek</label>
          <div class="control">
            <input class="input" type="number" id="servo-value" min="0" max="180" value="90">
          </div>
          <button class="" onclick="servo()"><i class="fas fa-compass"></i> Draai</button>
        </div>
        
        <img src="{{url_for('static', filename='img/Servo-motor.jpg')}}" alt="Servomotor" style="width:50%">
        
        
      </div>
  </div>
