<div class="box-header">Beginner: Gegevensoverdacht met Pico - 8/10</div>
    <div class="columns">
      <div class="column">
        <h3>
          Analoge Communicatie
        </h3>
        <p>
          Communicatie tussen apparaten kan op verschillende manieren gebeuren. Een eerste distinguering die we kunnen maken is tussen digitale en analoge communicatie.
          Digitale communicatie is de meest voorkomende vorm van communicatie. Hierbij worden signalen verstuurd die enkel twee waarden kunnen aannemen: 0 of 1.
          Analoge communicatie daarentegen kan een oneindig aantal waarden aannemen. Denk bijvoorbeeld aan een analoge klok, waarbij de wijzers elke mogelijke positie kunnen aannemen.
          <br>
          <br>
          Het Energie team hebben een Pico microcontroller gekregen, waaraan een buzzer en een OLED scherm zijn aangesloten, die gevoed worden door de batterij die ze hebben gemaakt.
          Deze Pico is zo geprogrammeerd dat die bepaalde liedjes met bijhorende tekst kan afspelen op de buzzer en op het scherm. 
          Voor elke professor die zal langskomen is zijn of haar favoriete liedje en bijhorende tekst al geprogrammeerd. 
          <br>
          <br>
          Via analogie communicatie tussen de Arduino en de Pico kunnen jullie de Pico laten weten welk liedje en tekst moet worden afgespeeld.
          De arduino is zo geprogrammeerd dat die een voltage stuurt naar de Pico, die dan op basis van dat voltage weet welk liedje en tekst moet worden afgespeeld.
          Met de slider hieronder kunnen jullie het voltage instellen dat de Arduino naar de Pico stuurt. De mensen van de batterij weten hoe de draadjes van de Pico aan de Arduino moeten worden aangesloten.
          <br>  
          <br>
          Probeer eens te spelen met de slider en kijk wat er gebeurt met de Pico. Als richtwaarde kan je respectievelijk 0.5, 0.9, 1.3, 1.7, 2.0, 2.4, 2.8 en 3.3 nemen voor liedjes 1 tot en met 8. Let op, als je alle waardes gaat willen uitproberen, ga je veel geduld moeten hebben. De pico is zo geprogrammeerd dat het volledige liedje afspeelt (duur +/- 3 minuten per liedje) vooraleer hij zal merken dat er al een volgend liedje (= een ander voltage) gevraagd is. Eventueel kan je, als je na een tijdje het geluid beu bent, vragen aan iemand van de begeleiding om de buzzer te ontkoppelen en wacht je af wat er verandert op het schermpje. Het is dan aan jullie om hiernaast de juiste voltage in te stellen voor de juiste kleurencombinatie die bij één van de proffen hoort. 
        </p>

        <label for="slider_pico">Voltage: <span  id="slider_pico_value">0.00</span></span></label>
          <input type="range" id="slider_pico" min="0" max="164" value="0" onchange="pico_changslider(this.value)">
        <br>
        
      </div>
      <div class="column">
        <h3>
          Kleuren Combinatie combineren met juiste voltage voor juiste liedje
        </h3>
        
        <div>

          <div class="voltage_inputs_div">
            <h3>Zwart/Zwart</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_0" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 0, this)"> 
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Zwart/Rood</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_1" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 1, this)"> 
          </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Zwart/Blauw</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_2" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 2, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Zwart/Groen</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_3" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 3, this)">
            </div>
          </div>
          

          <div class="voltage_inputs_div">
            <h3>Zwart/Wit</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_4" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 4, this)">
            </div>
          </div>
          

          <div class="voltage_inputs_div">
            <h3>Rood/Rood</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_5" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 5, this)">
            </div>
          </div>  

          <div class="voltage_inputs_div">
            <h3>Rood/Blauw</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_6" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 6, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Rood/Groen</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_7" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 7, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Rood/Wit</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_8" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 8, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Blauw/Blauw</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_9" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 9, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Blauw/Groen</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_10" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 10, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Blauw/Wit</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_11" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 11, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Groen/Groen</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_12" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 12, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Groen/Wit</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_13" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 13, this)">
            </div>
          </div>

          <div class="voltage_inputs_div">
            <h3>Wit/Wit</h3>
            <div>
              Voltage: 
            <input type="number" id="voltage_14" min="0" max="3.3" value="0" onchange="save_pico_value(this.value, 14, this)">
            </div>
          </div>
          
          
          

          


        </div>
        
        
        
          
        

       
        
      </div>



  </div>
