<div class="box-header">Beginner: Kleurensensor Kalibratie - 5/10</div>
    <div class="columns">
      <div class="column">
        <h2>Kalibratie</h2>
        <p>
          De kleurensensor geeft voor elk van drie basis-kleuren (rood, groen en blauw) een waarde terug. De sensor is dus eigenlijk een combinatie van drie sensoren, die elk een andere kleur kunnen detecteren. De kleurensensor kan dus de kleur van het licht dat erop valt detecteren door de waarden van de drie sensoren te combineren. 
          Omdat de omgevingslicht veel invloed kan hebben op de waarden die de kleurensensor teruggeeft, is het belangrijk om de sensor te kalibreren. Dit gaan jullie doen in deze stap.
        </p>

        <p>
          Omdat er 8 opties zijn voor de verschillende opties van de <b>Smart Coffe/Thea maker</b>, zullen jullie de kleurensensor moeten kalibreren voor 8 verschillende kleuren.
          De kleurensensor is al gekalibreerd voor de kleuren groen, blauw, licht blauw, roze, geel en wit. Jullie zullen dus enkel de kleuren zwart en rood moeten kalibreren.
          Naast elke kleur staat een &#60; of een &#62; teken. Dit betekent dat de kleurensensor de kleur moet detecteren als de waarde van de sensor voor die kleur kleiner (&#60;) of groter (&#62;) is dan de waarde die naast de kleur staat. Geen enkel van de waardes zal hoger zijn dan 9999. <br>
          <u>Tip voor de zwarte kleur:</u> de waardes voor rood, groen en blauw liggen tussen 3500 en 7000. <br>
          <u>Tip voor de specialere kleuren:</u> zoek de RGB-waarden eens op!

          
        </p>


        <h1>RGB Color Input</h1>
    <form id="colorForm">
        <div id="colorInputs">
          <b><span id="colorFormInfo"></span></b>
            <!-- Row 1: Zwart -->
            <div class="colorRow">
              <h3>Zwart: </h3>
              <div class="inputContainer">
                  <label for="red-value-0">Rood (&#62;):</label>
                  <input type="number" id="red-value-0" min="0" max="9999" step="1" required>
              </div>
              <div class="inputContainer">
                  <label for="green-value-0">Groen (&#62;):</label>
                  <input type="number" id="green-value-0" min="0" max="9999" step="1" required>
              </div>
              <div class="inputContainer">
                  <label for="blue-value-0">Blauw (&#62;):</label>
                  <input type="number" id="blue-value-0" min="0" max="9999" step="1" required>
              </div>
              <button type="button" class="updateColorButton" onclick="updateSensorValues(0)">Update Waardes</button>
            </div>

            <!-- Row 2: Rood -->
            <div class="colorRow">
                <h3>Rood: </h3>
                <div class="inputContainer">
                    <label for="red-value-1">Rood (&#60;):</label>
                    <input type="number" id="red-value-1" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-1">Groen (&#62;):</label>
                    <input type="number" id="green-value-1" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-1">Blauw (&#62;):</label>
                    <input type="number" id="blue-value-1" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(1)">Update Waardes</button>
            </div>

            <!-- Row 3: Groen -->
            <div class="colorRow">
                <h3>Groen: </h3>
                <div class="inputContainer">
                    <label for="red-value-2">Rood (&#62;):</label>
                    <input type="number" id="red-value-2" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-2">Groen (&#60;):</label>
                    <input type="number" id="green-value-2" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-2">Blauw (&#62;):</label>
                    <input type="number" id="blue-value-2" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(2)">Update Waardes</button>
            </div>

            <!-- Row 4: Blauw -->
            <div class="colorRow">
                <h3>Blauw: </h3>
                <div class="inputContainer">
                    <label for="red-value-3">Rood (&#62;):</label>
                    <input type="number" id="red-value-3" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-3">Groen (&#60;):</label>
                    <input type="number" id="green-value-3" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-3">Blauw (&#60;):</label>
                    <input type="number" id="blue-value-3" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(3)">Update Waardes</button>
            </div>

            <!-- Row 5: Licht Blauw -->
            <div class="colorRow">
                <h3>Cyaan: </h3>
                <div class="inputContainer">
                    <label for="red-value-4">Rood (&#62;):</label>
                    <input type="number" id="red-value-4" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-4">Groen (&#60;):</label>
                    <input type="number" id="green-value-4" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-4">Blauw (&#60;):</label>
                    <input type="number" id="blue-value-4" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(4)">Update Waardes</button>

            </div>

            <!-- Row 6: Roze -->
            <div class="colorRow">
                <h3>Magenta: </h3>
                <div class="inputContainer">
                    <label for="red-value-5">Rood (&#60;):</label>
                    <input type="number" id="red-value-5" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-5">Groen (&#62;):</label>
                    <input type="number" id="green-value-5" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-5">Blauw (&#60;):</label>
                    <input type="number" id="blue-value-5" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(5)">Update Waardes</button>
            </div>

            <!-- Row 7: Geel -->
            <div class="colorRow">
                <h3>Geel: </h3>
                <div class="inputContainer">
                    <label for="red-value-6">Rood (&#60;):</label>
                    <input type="number" id="red-value-6" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-6">Groen (&#60;):</label>
                    <input type="number" id="green-value-6" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-6">Blauw (&#62;):</label>
                    <input type="number" id="blue-value-6" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(6)">Update Waardes</button>
            </div>

            <!-- Row 8: Wit -->
            <div class="colorRow">
                <h3>Wit: </h3>
                <div class="inputContainer">
                    <label for="red-value-7">Rood (&#60;):</label>
                    <input type="number" id="red-value-7" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="green-value-7">Groen (&#60;):</label>
                    <input type="number" id="green-value-7" min="0" max="9999" step="1" required>
                </div>
                <div class="inputContainer">
                    <label for="blue-value-7">Blauw (&#60;):</label>
                    <input type="number" id="blue-value-7" min="0" max="9999" step="1" required>
                </div>
                <button type="button" class="updateColorButton" onclick="updateSensorValues(7)">Update Waardes</button>
            </div>

            
              

            
        </div>
    </form>


        </div>
      <div class="column">
        <div id="rgb-slider">
          <h2>Kalibratie</h2>
          <div id="rgb-slider-inner-div">
            
            <div id="inner-div-sliders">
              <!-- <h2>Sliders</h2> -->
                <label for="redSlider">Rood: <span class="slider-value" id="redValue">0</span></label>
                <input type="range" id="redSlider" min="0" max="255" value="0">
                
                <br>
                <label for="greenSlider">Groen: <span class="slider-value" id="greenValue">0</span></label>
                <input type="range" id="greenSlider" min="0" max="255" value="0">
                
                <br>
                <label for="blueSlider">Blauw: <span class="slider-value" id="blueValue">0</span></label>
                <input type="range" id="blueSlider" min="0" max="255" value="0">
                <br>
            </div>
            <div id="inner-div-calibration">
              <!-- <h2>Kalibratie</h2> -->
              <button id="detectColorButton" class="button" onclick="detectColor()">Detecteer de kleur</button>
              <br>
                <b>Gedecteerde kleur: </b><span id="detected-color"></span>
                <br>
                Rood-waarde: <span id="detected-red-value"></span>
                <br>
                Groen-waarde: <span id="detected-green-value"></span>
                <br>
                Blauw-waarde: <span id="detected-blue-value"></span>
            </div>
          </div>
        <div class="color-box" id="colorBox"></div>
        </div>
        
      </div>
    </div>


