<div class="box-header">Beginner: Servo sequenties - 7/10</div>
    <div class="columns">
      <div class="column">
        <div id="servo_sequentions_title_div">
            <h2>Servo Sequenties </h2>
            <button class="button" id="saveSequentionsButton" onclick="saveSequentions()"><i class="fas fa-save"></i> <span id="saveSequentionsMessage"> Opslaan</span></button>
            
        </div>
        <p>
            Om de verschillende ingrediënten in het kopje te verzamelen, gebruiken jullie een servomotor. De servomotor kan draaien tussen 0° en 180°. Om meerdere ingrediënten te verzamelen in de koffietas, bepalen jullie een opeenvolging van hoeken die de servomotor moet draaien. De teamleden van opdracht 'Materie' hebben ondertussen normaal gesproken al een volgorde bepaald, maar jullie moeten dit nog vertalen naar opeenvolgende hoeken die de servo aanneemt. 
            <br>
            Koppel bij elke kleurcombinatie (= een prof) een van de opties en voeg vervolgens een sequentie van hoeken toe. Tussen elke hoekdraaiing zit een pauze van 1 seconde. Je kan een extra hoekdraaing toevoegen door op de plus-knop te drukken. Door op de min-knop te drukken verwijder je de laatste hoekdraaiing. Er zijn in totaal 15 sequenties beschikbaar, zorg er dus voor dat je voor elke sequentie een keuze maakt en een sequentie van hoeken toevoegt.
            <br>
            


        </p>

        <div id="sequentions-div">
            <div id="sequention-colors">
                <h3>Zwart/Zwart: </h3>
                <h3>Zwart/Rood: </h3>
                <h3>Zwart/Blauw: </h3>
                <h3>Zwart/Groen: </h3>
                <h3>Zwart/Wit: </h3>
                <h3>Rood/Rood:</h3>
                <h3>Rood/Blauw:</h3>
                <h3>Rood/Groen:</h3>
                <h3>Rood/Wit:</h3>
                <h3>Blauw/Blauw:</h3>
                <h3>Blauw/Groen:</h3>
                <h3>Blauw/Wit:</h3>
                <h3>Groen/Groen:</h3>
                <h3>Groen/Wit:</h3>
                <h3>Wit/Wit:</h3>
                
            </div>
            <div id="sequention-names">
                <select id="sequention-0-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-1-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-2-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-3-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>
                
                
                <select id="sequention-4-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-5-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-6-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-7-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-8-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-9-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>   

                <select id="sequention-10-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-11-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-12-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-13-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>

                <select id="sequention-14-name">
                    <option value="Koffie">Koffie</option>
                    <option value="Thee">Thee</option>
                    <option value="Koffie met suiker">Koffie met suiker</option>
                    <option value="Thee met suiker">Thee met suiker</option>
                    <option value="Koffie met melk">Koffie met melk</option>
                    <option value="Thee met melk">Thee met melk</option>
                    <option value="Koffie met melk en suiker">Koffie met melk en suiker</option>
                    <option value="Thee met melk en suiker">Thee met melk en suiker</option>
                </select>


           
            </div>  

            <div id="sequention-angles">
                <div class="sequention" id="sequention-0">
                    <input type="number" id="sequention-0-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-1">
                    <input type="number" id="sequention-1-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-2">
                    <input type="number" id="sequention-2-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-3">
                    <input type="number" id="sequention-3-angle-0" min="0" max="180" value="90">
                </div>
                
                <div id="sequention-4">
                    <input type="number" id="sequention-4-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-5">
                    <input type="number" id="sequention-5-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-6">
                    <input type="number" id="sequention-6-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-7">
                    <input type="number" id="sequention-7-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-8">
                    <input type="number" id="sequention-8-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-9">
                    <input type="number" id="sequention-9-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-10">
                    <input type="number" id="sequention-10-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-11">
                    <input type="number" id="sequention-11-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-12">
                    <input type="number" id="sequention-12-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-13">
                    <input type="number" id="sequention-13-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-14">
                    <input type="number" id="sequention-14-angle-0" min="0" max="180" value="90">
                </div>

           
            

            </div>

            <div id="sequention-buttons-column">
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(0)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(0)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(0)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(1)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(1)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(1)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(1)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(1)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(1)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(3)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(3)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(3)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(2)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(2)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(2)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(5)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(5)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(5)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(3)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(3)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(3)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(7)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(7)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(7)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(4)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(4)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(4)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(5)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(5)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(5)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(6)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(6)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(6)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(7)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(7)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(7)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(8)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(8)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(8)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(9)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(9)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(9)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(10)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(10)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(10)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(11)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(11)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(11)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(12)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(12)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(12)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(13)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(13)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(13)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(14)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(14)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(14)">Run</button>
                </div>

            </div>


        </div>

        
        

        </div>
    </div>
