<div class="box-header">Beginner: Servo sequenties - 7/10</div>
    <div class="columns">
      <div class="column">
        <div id="servo_sequentions_title_div">
            <h2>Servo Sequenties </h2>
            <button class="button" id="saveSequentionsButton" onclick="saveSequentions()"><i class="fas fa-save"></i> <span id="saveSequentionsMessage"> Opslaan</span></button>
            
        </div>
        <p>
            Om de verschillende ingrediënten in het kopje te verzamelen, gebruiken jullie een servomotor. De servomotor kan draaien tussen 0° en 180°. Om meerdere ingrediënten te verzamelen in de koffietas, bepalen jullie een opeenvolging van hoeken die de servomotor moet draaien. De teamleden van opdracht 'Materie' hebben ondertussen normaal gesproken al een volgorde bepaald, maar jullie vertalen dit naar opeenvolgende hoeken.
            <br>
            We werken hier met 8 vaste opties (drankjes) en maken per optie een sequentie. Kies per optie het juiste drankje en vul de hoeken in. Tussen elke hoekdraaiing zit een pauze van 1 seconde. Met de plus‑knop voeg je een hoek toe; met de min‑knop verwijder je de laatste hoek.
        </p>

        <div id="sequentions-div">
            
            <div id="sequention-names">
                <div class="sequention-label">Koffie</div>
                <input type="hidden" id="sequention-0-name" value="0">

                <div class="sequention-label">Thee</div>
                <input type="hidden" id="sequention-1-name" value="1">

                <div class="sequention-label">Koffie met suiker</div>
                <input type="hidden" id="sequention-2-name" value="2">

                <div class="sequention-label">Thee met suiker</div>
                <input type="hidden" id="sequention-3-name" value="3">

                <div class="sequention-label">Koffie met melk</div>
                <input type="hidden" id="sequention-4-name" value="4">

                <div class="sequention-label">Thee met melk</div>
                <input type="hidden" id="sequention-5-name" value="5">

                <div class="sequention-label">Koffie met melk en suiker</div>
                <input type="hidden" id="sequention-6-name" value="6">

                <div class="sequention-label">Thee met melk en suiker</div>
                <input type="hidden" id="sequention-7-name" value="7">


           
            </div>  

            <div id="sequention-angles">
                <div class="sequention" id="sequention-0">
                    <input type="number" id="sequention-0-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-1">
                    <input type="number" id="sequention-1-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-2">
                    <input type="number" id="sequention-2-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-3">
                    <input type="number" id="sequention-3-angle-0" min="0" max="180" value="90">
                </div>
                
                <div id="sequention-4">
                    <input type="number" id="sequention-4-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-5">
                    <input type="number" id="sequention-5-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-6">
                    <input type="number" id="sequention-6-angle-0" min="0" max="180" value="90">
                </div>

                <div id="sequention-7">
                    <input type="number" id="sequention-7-angle-0" min="0" max="180" value="90">
                </div>

                

           
            

            </div>

            <div id="sequention-buttons-column">
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(0)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(0)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(0)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(1)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(1)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(1)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(1)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(1)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(1)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(3)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(3)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(3)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(2)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(2)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(2)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(5)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(5)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(5)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(3)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(3)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(3)">Run</button>
                </div>
                <!--
                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(7)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(7)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(7)">Run</button>
                </div> -->

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(4)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(4)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(4)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(5)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(5)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(5)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(6)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(6)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(6)">Run</button>
                </div>

                <div class="sequention-buttons">
                    <button class="button" onclick="addAngle(7)"><i class="fas fa-plus"></i></button>
                    <button class="button" onclick="removeAngle(7)"><i class="fas fa-minus"></i></button>
                    <button class="button" onclick="runSequention(7)">Run</button>
                </div>

                

            </div>


        </div>

        
        

        </div>
    </div>
