<div class="box-header">Beginner: Kleurensensor - 4/10</div>
    <div class="columns">
      <div class="column">
        <h2>Kleurensensor</h2>
        <p>
          Een sensor is een stukje elektronica dat informatie uit de fysische wereld, in dit geval de kleur van het licht dat erop valt, omzet in een elektrisch signaal dat voor een controller leesbaar is. De eigenschappen van licht komen aan bod in het vak “Algemene natuurkunde”.
        </p>
        
        <p>
          In de kartonnen behuizing die jullie kregen, hebben we zo'n kleurensensor ingebouwd (zie foto hiernaast). Deze sensor kan de kleur van het licht dat erop valt detecteren en omzetten in een elektrisch signaal. Dit signaal kan de Arduino dan inlezen. Op basis daarvan beslist de Arduino wat er moet gebeuren met de servomotor en de led.
        </p>

        <p>
          De kleurensensor is een combinatie van drie sensoren, die elk een andere kleur kunnen detecteren, respectievelijk rood, groen en blauw. Voor deze drie kleuren drukt de sensor een getalwaarde uit. Eigenlijk detecteren we dus een kleur door de waarden van de drie sensoren te combineren tot een RGB-waarde. 
          Omdat het omgevingslicht veel invloed heeft op de waarden die de kleurensensor teruggeeft, is het belangrijk om de sensor te kalibreren. Dit gaan jullie doen in de volgende stap.
        
        </div>
      <div class="column">
        <img src="{{url_for('static', filename='img/arduino-color-sensor.jpeg')}}" alt="Kleurensensor" style="width:100%">
      </div>
    </div>


