<div class="box-header">Beginner: Make the coffee! - 10/11</div>
    <div class="columns">
      <div class="column">
        <h2 style="text-align: center;">Testen</h2>
        <p style="text-align: center;">
            Wanneer de andere groepen van jouw team ook klaar zijn, kunnen jullie alle deelsystemen achter elkaar zetten en koffie maken! Verklein dit scherm zodat het slechts de helft van het totale scherm inneemt. Op de andere helft van je scherm open je het programma van je teamleden met opdracht 'Wiskunde' (beeldherkenning).
        </p>

        

        <div id="inner-div-calibration" style="width: 100%;">
          <button class="button" onclick="run()" id="runButton" ><i class="fas fa-play"></i> Start</button>
          <br>
          <b>Gedetecteerde kleurencombinatie: </b><span id="detected-color"></span>
          <br>
          <b>Gedetecteerde optie: </b><span id="detected-name"></span>
        </div>

      </div>
        
        
        
    </div>

