<div class="box-header">Beginner: Inleidende begrippen - 1/10</div>
    <div class="columns">
      <div class="column">
        <h2>Arduino</h2>
        <p>
          Om de mechanische delen van de Smart Coffee/Thee maker aan te sturen zullen jullie gebruik maken van een <b>Arduino Microcontroller</b>, deze kan je zien op de foto hiernaast. De controller is eigenlijk een kleine computer, waar je verschillende elektronische componenten zoals sensoren, motoren, LED's en schakelaars kan op aansluiten om interactieve systemen te bouwen. Voor dit project zal ze de kleurensensor lezen en op basis daarvan beslissen wat er moet gebeuren met de servo-motor en de LED. ​
          De controller is een stukje elektronica ’hardware’ waarop je zelf een programma ’software’ kan zetten.​Hardware gaan we aanvatten in het vak “Elektrische netwerken”. Je eerste software stappen zet je in het van “Methodiek van de informatica”.  
        </p>

        <h2>Ingangen </h2>
        <p>
          Elke Arduino heeft verschillende ingangen, dit zijn interfaces waarmee externe signalen en gegevens worden verzameld. Deze kunnen variëren van eenvoudige schakelaars en knoppen tot geavanceerdere sensoren zoals lichtsensoren, temperatuursensoren, bewegingssensoren en afstandssensoren. De Arduino kan deze signalen lezen en interpreteren, waardoor het mogelijk is om te reageren op veranderingen in de omgeving. Dit opent de deur naar interactieve projecten waarbij de Arduino reageert op gebruikersinput of omgevingsfactoren.
        </p>

        <h2>Uitgangen</h2>
        <p>
          Elke Arduino heeft ook verschillende uitgangen waarmee de Arduino elektronische componenten kan aansturen om acties uit te voeren op basis van de verwerkte ingangsgegevens. LED's zijn een eenvoudig voorbeeld van uitvoerapparaten die kunnen worden gebruikt om visuele feedback te geven. Maar Arduino kan ook servo's, motoren en stappenmotoren aansturen om fysieke bewegingen te realiseren, zoals draaien, tillen of bewegen. Bovendien kunnen displays, zoals LCD- en OLED-schermen, worden gebruikt om informatie of grafische feedback weer te geven.
        </p>
        <h2>Digitaal vs  Analooog</h2>
        <p>
          Arduino biedt zowel analoge als digitale in- en uitgangen. Digitale pinnen werken met discrete signalen, zoals aan/uit of hoog/laag, terwijl analoge pinnen variabele waarden kunnen meten, zoals lichtintensiteit of temperatuur. Deze flexibiliteit stelt gebruikers in staat om nauwkeurige metingen te doen en complexere systemen te bouwen. Op de foto hiernaast kan je zien dat de Arduino verschillende digitale pinnen heeft (deze zijn zowel in als uitgangen) en verschillende analoge pinnen (deze zijn enkel ingangen).
        </p>
        <p>
          Kortom, de in- en uitgangen van een Arduino vormen de bouwstenen van interactieve elektronische projecten. Door informatie te verzamelen, te verwerken en vervolgens fysieke of visuele reacties te genereren, opent de Arduino een wereld van mogelijkheden voor creatieve expressie en praktische toepassingen in domeinen variërend van domotica tot robotica en kunst tot wetenschap.
        </p>
        </div>
      <div class="column">
        <img src="{{url_for('static', filename='img/arduino.jpg')}}" alt="Arduino" style="width:100%">
      </div>
    </div>
