<div class="box-header">Beginner: Kleurensensor - 4/10</div>
    <div class="columns">
      <div class="column">
        <h2>Kleurensensor</h2>
        <p>
          Een sensor is een stukje elektronica dat een fysische paramater, in dit geval de kleur van het licht dat erop valt, omzet in een elektrisch signaal dat de controller kan inlezen. De eigenschappen van licht komen aan bod in het vak “Algemene natuurkunde”.
        </p>
        
        </div>
      <div class="column">
        <img src="{{url_for('static', filename='img/arduino-color-sensor.jpeg')}}" alt="Kleurensensor" style="width:100%">
      </div>
    </div>


