<div class="box-header">Beginner: Testen - 9/11</div>
    <div class="columns">
      <div class="column">
        <h2>Testen</h2>
        <p>
            Nu we alle tussenstappen hebben geprogrammeerd, gaan we het systeem testen. Zet een kleurencombinatie klaar, zet hem op en druk op 'run'. Als alles goed gaat, draait de servo-motor en brandt de led.
            Als geen van de gekende kleuren wordt gedetecteerd zal de servomotor niet draaien.
        </p>

        <button class="button" onclick="test()" id="testButton"><i class="fas fa-play"></i> Test</button>

      </div>
        <div class="column">
            <div id="">
                    <div id="">
                        
                      <div id="">
                        <b>Kies een kleurencombinatie:</b>
                        <select id="colorCombination">
                          <option value="0">Zwart/Zwart</option>
                          <option value="1">Zwart/Rood</option>
                          <option value="2">Zwart/Blauw</option>
                          <option value="3">Zwart/Groen</option>
                          <option value="4">Zwart/Wit</option>
                          <option value="5">Rood/Rood</option>
                          <option value="6">Rood/Blauw</option>
                          <option value="7">Rood/Groen</option>
                          <option value="8">Rood/Wit</option>
                          <option value="9">Blauw/Blauw</option>
                          <option value="10">Blauw/Groen</option>
                          <option value="11">Blauw/Wit</option>
                          <option value="12">Groen/Groen</option>
                          <option value="13">Groen/Wit</option>
                          <option value="14">Wit/Wit</option>
                      </select>
                      <br>
                      <br>
                      <button class="button" onclick="runColorBox()" id="colorBoxBtn"><i class="fas fa-play"></i> Start Sequentie</button>
                      </div>
                      <div id="">
                          <br>
                          <b>Gedecteerde kleuren combinatie: </b><span id="detected-color-combination-test"></span>
                      </div>
                    </div>
                <div class="color-box" id="colorBoxTest"></div>
              </div>
        </div>
        
        
    </div>

