<div class="box-header">Beginner: RGB-led - 3/10</div>
    <div class="columns">
      <div class="column">
        <h2>RGB-led</h2>
        <p>
          Een RGB-led is een led die drie kleuren kan weergeven: rood, groen en blauw. Door de intensiteit van deze kleuren te veranderen kan je alle kleuren van de regenboog maken.
        </p>

        <p>
          Elke kleur in een RGB-led bestaat uit een specifieke RGB-waarde, een specifieke combinatie van rood, groen en blauw. Deze RGB-waarde drukken we uit met getallen tussen 0 en 255 voor respectievelijk rood, groen en blauw. Door deze waarden aan te passen, kunnen diverse kleuren en tinten worden gecreëerd. Dit maakt RGB-leds veelzijdig voor verlichting, visuele effecten en artistieke toepassingen.
        </p>

        <p>
          Op het breadboard (het witte bordje) dat verbonden is aan de Arduino, zien jullie een RGB-led. Door de schuifknoppen hiernaast te veranderen kunnen jullie de waardes van de kleuren aanpassen en zo de kleur van de led veranderen. Probeer het maar eens!
        </div>
      <div class="column">
        <div id="rgb-slider">
          <h1>RGB Color Slider</h1>
        <label for="redSlider">Red: <span class="slider-value" id="redValue">0</span></label>
        <input type="range" id="redSlider" min="0" max="255" value="0">
        
        <br>
        <label for="greenSlider">Green: <span class="slider-value" id="greenValue">0</span></label>
        <input type="range" id="greenSlider" min="0" max="255" value="0">
        
        <br>
        <label for="blueSlider">Blue: <span class="slider-value" id="blueValue">0</span></label>
        <input type="range" id="blueSlider" min="0" max="255" value="0">
        
        <div class="color-box" id="colorBox"></div>
        </div>
        
      </div>
    </div>


