<div class="box-header">Beginner: Kleurensensor - 4/10</div>
    <div class="columns">
      <div class="column">
        <h2>Kleurensensor</h2>
        <p>
          Een sensor is een stukje elektronica dat een fysische paramater, in dit geval de kleur van het licht dat erop valt, omzet in een elektrisch signaal dat de controller kan inlezen. De eigenschappen van licht komen aan bod in het vak “Algemene natuurkunde”.
        </p>
        
        <p>
          In de behuizing die jullie hebben gekregen zit zo'n kleuren sensor ingebouwd (zie foto hiernaast). Deze sensor kan de kleur van het licht dat erop valt detecteren en omzetten in een elektrisch signaal. Dit signaal kan de Arduino dan inlezen en op basis daarvan beslissen wat er moet gebeuren met de servo-motor en de LED.
        </p>

        <p>
          De kleurensensor geeft voor elk van drie basis-kleuren (rood, groen en blauw) een waarde terug. De sensor is dus eigenlijk een combinatie van drie sensoren, die elk een andere kleur kunnen detecteren. De kleurensensor kan dus de kleur van het licht dat erop valt detecteren door de waarden van de drie sensoren te combineren. 
          Omdat de omgevingslicht veel invloed kan hebben op de waarden die de kleurensensor teruggeeft, is het belangrijk om de sensor te kalibreren. Dit gaan jullie doen in de volgende stap.
        
        </div>
      <div class="column">
        <img src="{{url_for('static', filename='img/arduino-color-sensor.jpeg')}}" alt="Kleurensensor" style="width:100%">
      </div>
    </div>


