<div class="box-header">Beginner: Inleidende begrippen - 1/11</div>
    <div class="columns">
      <div class="column">
        <h2>Arduino</h2>
        <p>
          Om de Smart Coffee Maker aan te sturen gebruiken jullie een <b>Arduino Microcontroller</b>. Deze kan je zien op de foto hiernaast. De controller is eigenlijk een kleine computer, waarop je andere elektronische componenten zoals sensoren, motoren, LED's en schakelaars kan aansluiten. Zo bouw je interactieve systemen die informatie opnemen uit de omgeving (="sensor"), een beslissing nemen (="controller") en een verandering uitvoeren (="actuator"). In dit project vergaar je informatie met een kleurensensor en op basis daarvan beslist de microcontroller wat de servomotor en de LED doen. ​
          De controller is een stukje elektronische ’hardware’ waarop je zelf een programma ’software’ kan zetten. ​Hardware ga je bestuderen in het vak “Elektrische netwerken” en software ga je leren schrijven in het vak “Methodiek van de informatica”.  
        </p>

        <h2>Ingangen </h2>
        <p>
          Elke Arduino heeft verschillende ingangen waarlangs je externe signalen en gegevens kan inlezen. Gegevens zijn afkomstig van eenvoudige schakelaars en knoppen of geavanceerdere sensoren zoals lichtsensoren, temperatuursensoren, bewegingssensoren en afstandssensoren. De Arduino interpreteert deze signalen, waardoor hij kan reageren op veranderingen in de omgeving. Dit opent de deur naar interactieve projecten waarbij de Arduino reageert op gebruikersinput of omgevingsfactoren.
        </p>

        <h2>Uitgangen</h2>
        <p>
          Elke Arduino heeft ook verschillende uitgangen om elektronische componenten aan te sturen. LED's zijn een eenvoudig voorbeeld van uitvoerapparaten waarmee je visuele feedback kan geven. Maar Arduino kan ook bijvoorbeeld servomotoren, DC-motoren en stappenmotoren aansturen om fysieke bewegingen te realiseren, zoals draaien, tillen of bewegen. Je kan zelfs displays zoals LCD- en OLED-schermen gebruiken om informatie te visualiseren.
        </p>
        <h2>Digitaal vs  Analoog</h2>
        <p>
          Ingangen en uitgangen op Arduino kunnen analoog of digitaal zijn. Digitale pinnen werken met discrete signalen, zoals aan/uit of hoog/laag, terwijl analoge pinnen variabele waarden kunnen meten, zoals lichtintensiteit of temperatuur. Deze flexibiliteit stelt gebruikers in staat om nauwkeurige metingen te doen en complexere systemen te bouwen.  Meestal gebruik je digitale signalen wanneer het kan en analoge wanneer het nodig is. Op de foto hiernaast zie je dat de Arduino verschillende digitale pinnen heeft (deze zijn zowel in- als uitgangen) en verschillende analoge pinnen (deze zijn enkel ingangen).
        </p>
        <p>
          Kortom, de in- en uitgangen van een Arduino vormen de bouwstenen van interactieve elektronische projecten. Door informatie te verzamelen, te verwerken en vervolgens fysieke of visuele reacties te genereren, opent de Arduino een wereld van mogelijkheden voor creatieve expressie en praktische toepassingen in domeinen gaande van domotica tot robotica en kunst tot wetenschap.
        </p>
        </div>
      <div class="column">
        <img src="{{url_for('static', filename='img/arduino.jpg')}}" alt="Arduino" style="width:100%">
      </div>
    </div>
