<div class="box-header">Beginner: Make the coffee/thea! - 9/10</div>
    <div class="columns">
      <div class="column">
        <h2>Testen</h2>
        <p>
            Nu alle andere groepen ook klaar zijn kan alles achter elkaar worden gezet en kunnen we koffie of thee maken. Verklein dit scherm zodat het de helft van het totale scherm inneemt en open op de andere helft het matlab programma.
        </p>

        <button class="button" onclick="run()" id="runButton" ><i class="fas fa-play"></i> Start</button>

        <div id="inner-div-calibration">
          <!-- <h2>Kalibratie</h2> -->
          <br>
          <b>Gedecteerde kleur: </b><span id="detected-color"></span>
          <b>Gedecteerde optie: </b><span id="detected-name"></span>
          <br>
          Rood-waarde: <span id="detected-red-value"></span>
          <br>
          Groen-waarde: <span id="detected-green-value"></span>
          <br>
          Blauw-waarde: <span id="detected-blue-value"></span>
        </div>

      </div>
        
        
        
    </div>

