<div class="box-header">Inleiding</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Informatie</h2>
          Welkom bij het informatie luik van het <b>Smart Coffee/thee maker</b>! Dit project biedt een spannende kans voor zowel beginners als degenen met ervaring om kennis te maken met de wereld van Arduino en elektronica. Als onderdeel van het informatie luik van dit project, gaan jullie twee per twee zich richten op het gebruik van een ardiono om twee fascinerende onderdelen te realiseren met behulp van een kleurensensor en een servo.
          <h4>Doel</h4>
          <p>Het ultieme doel van dit project is om een systeem te creëren dat in staat is om 9 verschillende kleuren te detecteren met behulp van een kleurensensor en vervolgens een servo aan te sturen om verschillende posities in te nemen op basis van de gedetecteerde kleur. Dit opent deuren naar praktische toepassingen in diverse vakgebieden, waaronder automatisering, beeldverwerking en sensorische interacties.</p>
          <h4>Beginner</h4>
          <p>Voor degenen die nieuw zijn in de wereld van Arduino en fysieke computing, bieden we een beginnersvriendelijke tutorial. Hier zullen jullie niet direct code schrijven, maar eerst het concept van Arduino begrijpen. Jullie worden geleid door een stapsgewijze tutorial waarin jullie waarden kunnen invoeren en de effecten ervan op de Arduino kunnen zien. Dit legt een stevige basis voor jullie begrip van het project en de werking van de kleurensensor en servo.</p>
  
          <h4>Geavanceerd</h4>
          <p>Voor degenen met enige ervaring in Arduino en programmeren, bieden we een geavanceerde tutorial aan. Hier krijgen jullie een kant-en-klaar template met gedeeltelijk voltooide code. Jullie hebben de vrijheid om de code aan te passen en extra functionaliteiten toe te voegen, zoals het integreren van een ledje of een led-display om de gedetecteerde kleur weer te geven. Dit zal jullie uitdagen om jullie programmeervaardigheden toe te passen en het project verder aan te passen naar jullie eigen creatieve visie.</p>  
  
          <div class="buttons">
            <button class="button" onclick="beginner()">Beginner</button>
            <button class="button" onclick="advanced()" >Geavanceerd</button>
          </div>
        </div>
      </div>
    </div>
