<div class="box-header">Inleiding</div>
    <div class="columns">
      <div class="column">
        <div id="intro-div">
          <h2>Informatie</h2>
          Welkom bij het opdracht 'Informatie' van de <b>Smart Coffee Maker</b>! In deze opdracht maken jullie kennis met de wereld van elektronica en Arduino. We voorzien twee leerpaden: eentje voor beginners en eentje voor studenten met wat ervaring. Je kiest zelf welk niveau van uitdaging je wilt. In twee groepjes van twee ga je aan de slag met een kleurensensor en een servomotor.
          <h4>Doel</h4>
          <p>Jullie bouwen in deze opdracht een onderdeel van de Smart Coffee Maker. Dit onderdeel kan vier verschillende kleuren detecteren met behulp van een kleurensensor en op basis daarvan een servomotor verschillende posities laten aannemen. Een toepassing als deze is een eerste stap naar praktische toepassingen in ondere andere automatisering, beeldverwerking en sensorische interacties.</p>
          <h4>Beginner</h4>
          <p>Voor degenen die nieuw zijn in de wereld van Arduino en fysieke computing, bieden we een beginnersvriendelijke tutorial aan. Hier zullen jullie niet direct code schrijven, maar eerst het concept van Arduino begrijpen. Jullie worden geleid door een stapsgewijze tutorial waarin jullie instelwaarden kunnen veranderen en de effecten ervan op de Arduino kunnen zien. Dit legt een stevige basis voor jullie begrip van het project en de werking van de kleurensensor en servomotor.</p>
  
          <h4>Geavanceerd</h4>
          <p>Voor degenen met enige ervaring in Arduino en programmeren, bieden we een geavanceerde tutorial aan. Hier krijgen jullie een kant-en-klare template met gedeeltelijk voltooide code. Jullie hebben de vrijheid om de code aan te passen en extra functionaliteiten toe te voegen, zoals het integreren van een led-lichtje of een led-display om de gedetecteerde kleur weer te geven. We dagen jullie uit om jullie programmeervaardigheden toe te passen en het project verder aan te passen naar jullie eigen creatieve visie.</p>  
  
          <div class="buttons">
            <button class="button" onclick="beginner()">Beginner</button>
            <button class="button" onclick="advanced()" >Geavanceerd</button>
          </div>
        </div>
      </div>
    </div>
